{%- comment -%}
----------------------------------------------------------------------------------------------------------------------
SOCIAL MEDIA
----------------------------------------------------------------------------------------------------------------------

Output a list of social media icons based on the social URL settings.

********************************************
Supported variables
********************************************

* size: can be "sm" or nothing. When setting is set to "sm", this only impacts the mobile (desktop uses the same size)
{%- endcomment -%}

{%- capture social_media -%}
  {%- if settings.social_facebook != blank or shop.brand.metafields.social_links.facebook != blank -%}
    <li>
      <a href="{{ settings.social_facebook | default: shop.brand.metafields.social_links.facebook }}" class="tap-area" target="_blank" rel="noopener" aria-label="{{ 'general.social.follow_on' | t: social_media: 'Facebook' }}">
        {%- render 'icon' with 'facebook' -%}
      </a>
    </li>
  {%- endif -%}

  {%- if settings.social_twitter != blank or shop.brand.metafields.social_links.twitter != blank -%}
    <li>
      <a href="{{ settings.social_twitter | default: shop.brand.metafields.social_links.twitter }}" class="tap-area" target="_blank" rel="noopener" aria-label="{{ 'general.social.follow_on' | t: social_media: 'Twitter' }}">
        {%- render 'icon' with 'twitter' -%}
      </a>
    </li>
  {%- endif -%}

  {%- if settings.social_instagram != blank or shop.brand.metafields.social_links.instagram != blank -%}
    <li>
      <a href="{{ settings.social_instagram | default: shop.brand.metafields.social_links.instagram }}" class="tap-area" target="_blank" rel="noopener" aria-label="{{ 'general.social.follow_on' | t: social_media: 'Instagram' }}">
        {%- render 'icon' with 'instagram' -%}
      </a>
    </li>
  {%- endif -%}

  {%- if settings.social_threads != blank or shop.brand.metafields.social_links.threads != blank -%}
    <li>
      <a href="{{ settings.social_threads | default: shop.brand.metafields.social_links.threads }}" class="tap-area" target="_blank" rel="noopener" aria-label="{{ 'general.social.follow_on' | t: social_media: 'Threads' }}">
        {%- render 'icon' with 'threads' -%}
      </a>
    </li>
  {%- endif -%}

  {%- if settings.social_pinterest != blank or shop.brand.metafields.social_links.pinterest != blank -%}
    <li>
      <a href="{{ settings.social_pinterest | default: shop.brand.metafields.social_links.pinterest }}" class="tap-area" target="_blank" rel="noopener" aria-label="{{ 'general.social.follow_on' | t: social_media: 'Pinterest' }}">
        {%- render 'icon' with 'pinterest' -%}
      </a>
    </li>
  {%- endif -%}

  {%- if settings.social_youtube != blank or shop.brand.metafields.social_links.youtube != blank -%}
    <li>
      <a href="{{ settings.social_youtube | default: shop.brand.metafields.social_links.youtube }}" class="tap-area" target="_blank" rel="noopener" aria-label="{{ 'general.social.follow_on' | t: social_media: 'YouTube' }}">
        {%- render 'icon' with 'youtube' -%}
      </a>
    </li>
  {%- endif -%}

  {%- if settings.social_tiktok != blank or shop.brand.metafields.social_links.tiktok != blank -%}
    <li>
      <a href="{{ settings.social_tiktok | default: shop.brand.metafields.social_links.tiktok }}" class="tap-area" target="_blank" rel="noopener" aria-label="{{ 'general.social.follow_on' | t: social_media: 'TikTok' }}">
        {%- render 'icon' with 'tiktok' -%}
      </a>
    </li>
  {%- endif -%}

  {%- if settings.social_vimeo != blank or shop.brand.metafields.social_links.vimeo != blank -%}
    <li>
      <a href="{{ settings.social_vimeo | default: shop.brand.metafields.social_links.vimeo }}" class="tap-area" target="_blank" rel="noopener" aria-label="{{ 'general.social.follow_on' | t: social_media: 'Vimeo' }}">
        {%- render 'icon' with 'vimeo' -%}
      </a>
    </li>
  {%- endif -%}

  {%- if settings.social_linkedin != blank -%}
    <li>
      <a href="{{ settings.social_linkedin }}" class="tap-area" target="_blank" rel="noopener" aria-label="{{ 'general.social.follow_on' | t: social_media: 'LinkedIn' }}">
        {%- render 'icon' with 'linkedin' -%}
      </a>
    </li>
  {%- endif -%}

  {%- if settings.social_snapchat != blank or shop.brand.metafields.social_links.snapchat != blank -%}
    <li>
      <a href="{{ settings.social_snapchat | default: shop.brand.metafields.social_links.snapchat }}" class="tap-area" target="_blank" rel="noopener" aria-label="{{ 'general.social.follow_on' | t: social_media: 'Snapchat' }}">
        {%- render 'icon' with 'snapchat' -%}
      </a>
    </li>
  {%- endif -%}

  {%- if settings.social_whatsapp != blank -%}
    <li>
      <a href="{{ settings.social_whatsapp }}" class="tap-area" target="_blank" rel="noopener" aria-label="{{ 'general.social.follow_on' | t: social_media: 'WhatsApp' }}">
        {%- render 'icon' with 'whatsapp' -%}
      </a>
    </li>
  {%- endif -%}

  {%- if settings.social_tumblr != blank or shop.brand.metafields.social_links.tumblr != blank -%}
    <li>
      <a href="{{ settings.social_tumblr | default: shop.brand.metafields.social_links.tumblr }}" class="tap-area" target="_blank" rel="noopener" aria-label="{{ 'general.social.follow_on' | t: social_media: 'Tumblr' }}">
        {%- render 'icon' with 'tumblr' -%}
      </a>
    </li>
  {%- endif -%}

  {%- if settings.social_fancy != blank -%}
    <li>
      <a href="{{ settings.social_fancy }}" class="tap-area" target="_blank" rel="noopener" aria-label="{{ 'general.social.follow_on' | t: social_media: 'Fancy' }}">
        {%- render 'icon' with 'fancy' -%}
      </a>
    </li>
  {%- endif -%}

  {%- if settings.social_wechat != blank -%}
    <li>
      <a href="{{ settings.social_wechat }}" class="tap-area" target="_blank" rel="noopener" aria-label="{{ 'general.social.follow_on' | t: social_media: 'WeChat' }}">
        {%- render 'icon' with 'wechat' -%}
      </a>
    </li>
  {%- endif -%}

  {%- if settings.social_reddit != blank -%}
    <li>
      <a href="{{ settings.social_reddit }}" class="tap-area" target="_blank" rel="noopener" aria-label="{{ 'general.social.follow_on' | t: social_media: 'Reddit' }}">
        {%- render 'icon' with 'reddit' -%}
      </a>
    </li>
  {%- endif -%}

  {%- if settings.social_line != blank -%}
    <li>
      <a href="{{ settings.social_line }}" class="tap-area" target="_blank" rel="noopener" aria-label="{{ 'general.social.follow_on' | t: social_media: 'LINE' }}">
        {%- render 'icon' with 'line' -%}
      </a>
    </li>
  {%- endif -%}

  {%- if settings.social_spotify != blank -%}
    <li>
      <a href="{{ settings.social_spotify }}" class="tap-area" target="_blank" rel="noopener" aria-label="{{ 'general.social.follow_on' | t: social_media: 'Spotify' }}">
        {%- render 'icon' with 'spotify' -%}
      </a>
    </li>
  {%- endif -%}

  {%- if settings.social_21buttons != blank -%}
    <li>
      <a href="{{ settings.social_21buttons }}" class="tap-area" target="_blank" rel="noopener" aria-label="{{ 'general.social.follow_on' | t: social_media: '21 Buttons' }}">
        <svg class="icon icon-messenger" xmlns="http://www.w3.org/2000/svg" version="1.1"  focusable="false" width="27" height="27" viewBox="0 0 24 24">
 
      <path d="M59.9718213,31.7916324c-.3996101,4.7477868-1.8548359,9.1738757-4.4749224,13.2057039-3.4924043,5.3742935-8.2791663,9.0738394-14.2527221,11.306849-3.6411213,1.3611122-7.3976397,2.0129528-11.5036354,1.932748-2.6376254.0976672-5.4326799-.3259394-8.186543-1.0562653-.7197414-.1907491-1.3878217-.126975-2.0651872.1759996-1.8339345.8202362-3.6699706,1.6373392-5.5249593,2.4079394-.4459982.1852849-.9771304.2877667-1.4551494.2502435-1.2287877-.0964444-2.0487564-1.0578319-2.1346929-2.4256692-.0463117-.7366689-.0128389-1.4780759-.0404272-2.2163497-.0397394-1.0618823-.1029403-2.1227711-.1550982-3.1841184-.0308744-.6286083-.3449302-1.0976477-.7746506-1.5401305-1.1297449-1.1630649-2.3157363-2.2863903-3.324429-3.549415-2.6201248-3.2809067-4.3359492-7.0127408-5.3214478-11.0977587C.021823,32.9498445-.1170738,29.8566299.0826166,26.7549326c.208135-3.2331812.9791938-6.3582637,2.2777165-9.3389088,2.6205069-6.0154733,6.8570694-10.5612006,12.5944052-13.698587,3.512809-1.920979,7.2954254-3.05038,11.2719624-3.4969896,4.7302862-.5313615,9.3729547-.1132573,13.9078683,1.3752885,4.7828645,1.5700497,8.9259248,4.1459644,12.3617387,7.8385176,3.4182369,3.6736006,5.6380255,7.9762681,6.8081976,12.8475909.7538256,3.1379595.9352512,6.3268161.667316,9.5097881ZM47.8585684,20.7114507c-.595938-.6031216-1.2394103-.6111841-2.054297.0052731-2.9440008,2.2269723-5.8832252,4.4602876-8.8234431,6.6921892-1.2124334.9203489-1.8552562.9183619-3.0958511-.0115779-2.1038184-1.5769659-4.2052296-3.1571414-6.3144357-4.7269236-.7170285-.5336159-1.4830816-.9541656-2.4097353-1.0230599-2.0357647-.1512389-3.5103635.6822947-4.5798115,2.4098499-2.036185,3.2891603-4.1242988,6.5461851-6.1894859,9.8174245-.7726254,1.2238585-1.5567905,2.4407626-2.3064511,3.678568-.4711028.7778603-.3855103,1.4016922.1871572,1.9159352.5129056.4605566,1.3028405.4617029,1.9582729-.0118454.3348043-.2418753.6515731-.5085113.9804929-.758793,2.7028133-2.0561312,5.3979079-4.1228085,8.1145153-6.1606367,1.0306639-.7731221,1.6069997-.7538638,2.639727.0160486,2.1541805,1.606159,4.2905546,3.2361235,6.4437798,4.8436199.8919582.6659786,1.874056,1.120154,3.3220217,1.1185873.7012091-.0246461,1.6608007-.2661393,2.403163-.9399893.5811885-.5277314,1.0854202-1.1692168,1.5133064-1.8315654,1.6180808-2.5049952,3.1900793-5.0396803,4.7814125-7.5619468,1.1815208-1.8726804,2.3706837-3.7405462,3.5472752-5.6163599.455742-.7265812.4060678-1.3248882-.1176133-1.8547977Z"/>
 
</svg>
      </a>
    </li>
  {%- endif -%}


  
{%- endcapture -%}

{%- if social_media != blank -%}
  <ul class="social-media {% if size == 'sm' %}social-media--sm{% endif %}" role="list">
    {{- social_media -}}
  </ul>
{%- endif -%}