{%- assign newsletter_block = section.blocks | where: 'type', 'newsletter' | first -%}

{%- if section.blocks.size > 3 -%}
<style>
  @media screen and (min-width: 1000px) {
    #shopify-section-{{ section.id }} {
      {%- if newsletter_block != blank -%}
        --footer-block-list-gap: var(--spacing-10);
      {%- endif -%}

      --footer-block-list-justify-content: space-between;
    }
  }
</style>
{%- endif -%}

<div class="footer">
  <div class="container">
    <div class="footer__wrapper">
      {%- comment -%}
      ------------------------------------------------------------------------------------------------------------------
      BLOCK AREA
      ------------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}

      {%- if section.blocks.size > 0 -%}
        <div class="footer__block-list empty:hidden">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'text' -%}
                {%- if block.settings.title != blank or block.settings.content != blank or shop.features.follow_on_shop? and block.settings.enable_follow_on_shop -%}
                  <div class="footer__block footer__block--text" {{ block.shopify_attributes }}>
                    {%- if block.settings.title != blank -%}
                      <p class="bold">{{ block.settings.title | escape }}</p>
                    {%- endif -%}

                    {%- if block.settings.content != blank -%}
                      <div class="prose text-subdued">
                        {{- block.settings.content -}}
                      </div>
                    {%- endif -%}

                    {%- if shop.features.follow_on_shop? and block.settings.enable_follow_on_shop -%}
                      <div class="follow-on-shop">
                        {{- shop | login_button: action: 'follow' -}}
                      </div>
                    {%- endif -%}
                  </div>
                {%- endif -%}

              {%- when 'links' -%}
                {%- if block.settings.menu != blank -%}
                  <div class="footer__block footer__block--menu" {{ block.shopify_attributes }}>
                    {%- if block.settings.show_menu_title -%}
                      <p class="bold">{{ block.settings.menu_title | default: block.settings.menu.title }}</p>
                    {%- endif -%}

                    <ul class="v-stack gap-3" role="list">
                      {%- for link in block.settings.menu.links -%}
                        <li>
                          <a href="{{ link.url }}" class="inline-block link-faded break-all">{{ link.title }}</a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                {%- endif -%}

              {%- when 'newsletter' -%}
                <div class="footer__block footer__block--newsletter" {{ block.shopify_attributes }}>
                  {%- if block.settings.image != blank -%}
                    {%- capture sizes -%}{{ block.settings.image_width }}px{%- endcapture -%}
                    {%- capture widths -%}{{ block.settings.image_width }}, {{ block.settings.image_width | times: 2 | at_most: block.settings.image.width }}{%- endcapture -%}
                    {%- capture style -%}max-width: {{ block.settings.image_width }}px{%- endcapture -%}
                    {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy', style: style, sizes: sizes, widths: widths -}}
                  {%- endif -%}

                  <div class="v-stack gap-6">
                    {%- if block.settings.title != blank -%}
                      <p class="{{ block.settings.heading_size }}">{{- block.settings.title | escape -}}</p>
                    {%- endif -%}

                    {%- if block.settings.content != blank -%}
                      <div class="prose text-subdued">
                        {{- block.settings.content -}}
                      </div>
                    {%- endif -%}

                    {%- form 'customer', id: 'footer-newsletter', class: 'footer__newsletter-form form' -%}
                      {%- if form.posted_successfully? -%}
                        {%- capture success_message -%}{{ 'general.newsletter.subscribed_successfully' | t }}{%- endcapture -%}
                        {%- render 'banner', content: success_message, status: 'success' -%}
                      {%- else -%}
                        {%- if form.errors -%}
                          {%- capture error_message -%}{{ form.errors.translated_fields['email'] }} {{ form.errors.messages['email'] }}{%- endcapture -%}
                          {%- render 'banner', content: error_message, status: 'error' -%}
                        {%- endif -%}

                        <input type="hidden" name="contact[tags]" value="newsletter">

                        {%- capture label -%}{{ 'general.newsletter.email' | t }}{%- endcapture -%}
                        {%- render 'input', name: 'contact[email]', label: label, type: 'email', required: true, autocomplete: 'email', enterkeyhint: 'send', self_submit: true -%}
                      {%- endif -%}
                    {%- endform -%}
                  </div>
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      {%- endif -%}

      {%- comment -%}
      ------------------------------------------------------------------------------------------------------------------
      SECONDARY AREA
      ------------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}

      <div class="footer__aside empty:hidden">
        {%- comment -%}
        ----------------------------------------------------------------------------------------------------------------
        SOCIAL MEDIA + LOCALIZATION
        ----------------------------------------------------------------------------------------------------------------
        {%- endcomment -%}

        {%- if section.settings.show_social_media -%}
          {%- capture social_media -%}{%- render 'social-media' -%}{%- endcapture -%}
        {%- endif -%}

        {%- if section.settings.show_country_selector and localization.available_countries.size > 1 -%}
          {%- assign country_selector = true -%}
        {%- endif -%}

        {%- if section.settings.show_locale_selector and localization.available_languages.size > 1 -%}
          {%- assign locale_selector = true -%}
        {%- endif -%}

        {%- if social_media != blank or country_selector or locale_selector -%}
          <div class="footer__aside-top">
            {{- social_media -}}

            {%- if country_selector or locale_selector -%}
              <div class="h-stack gap-6">
                {%- if social_media == blank -%}
                  {%- assign popover_horizontal_position = 'start' -%}
                {%- else -%}
                  {%- assign popover_horizontal_position = 'end' -%}
                {%- endif -%}

                {%- if country_selector -%}
                  {%- render 'localization-selector', type: 'country', show_country_name: section.settings.show_country_name, show_country_flag: section.settings.show_country_flag, popover_horizontal_position: popover_horizontal_position -%}
                {%- endif -%}

                {%- if locale_selector -%}
                  {%- render 'localization-selector', type: 'locale', popover_horizontal_position: popover_horizontal_position -%}
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}

        {%- comment -%}
        ----------------------------------------------------------------------------------------------------------------
        COPYRIGHT + PAYMENT METHODS
        ----------------------------------------------------------------------------------------------------------------
        {%- endcomment -%}

        <div class="footer__aside-bottom">
<div class="footer__payment-icons h-stack wrap gap-2">

 <svg id="Warstwa_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 637.550062 30.622285">
  <!-- Generator: Adobe Illustrator 29.2.1, SVG Export Plug-In . SVG Version: 2.1.0 Build 116)  -->
  <defs>
    <style>
      .st0, .st1 {
        fill-rule: evenodd;
      }

      .st0, .st2 {
        fill: #d13239;
      }

      .st3 {
        fill: #f79e1b;
      }

      .st4 {
        fill: #ff5a00;
      }

      .st5 {
        fill: #eb1c24;
      }

      .st6 {
        fill: #eb001b;
      }

      .st7 {
        fill: #203b8d;
      }

      .st1 {
        fill: #b3b2b1;
      }

      .st8 {
        fill: #fad05b;
      }

      .st9 {
        fill: #a70584;
      }

      .st10 {
        fill: #36b588;
      }
    </style>
  </defs>
  <path class="st5" d="M370.5192347,8.2608651c-.0271127-.6479675-.2061062-1.2896289-.5355521-1.8697961l-2.9051278-5.1208979c-.2208655-.3905363-.3751528-.8086987-.4590263-1.2381611l-.1209982.2134757c-.7194224,1.2670395-.7194224,2.829178,0,4.0962201l2.3250388,4.0962034c.7194875,1.2670681.7194875,2.8291874,0,4.0962549l-.1209325.2134539c-.0851092-.4294427-.2381608-.8476375-.4590914-1.2381356l-2.1275799-3.7509449-1.3587432-2.3946602c-.2208655-.3905362-.3751528-.8086984-.4590908-1.238161l-.1209331.2134732c-.7169912,1.2632777-.7194553,2.8178676-.0074122,4.0836355l2.3324504,4.1100394c.7194875,1.2670675.7194875,2.8291862,0,4.0962549l-.1221683.2134539c-.0851086-.4294439-.2381608-.8476387-.4590914-1.2381356l-2.9050435-5.1209365c-.3899772-.6868489-.5676835-1.4604315-.5355973-2.2264067-3.1148627.8313182-5.2621945,2.5868009-5.2621945,4.6198442,0,2.827951,4.153978,5.1209365,9.2791538,5.1209365,5.1252273,0,9.2792196-2.2929855,9.2792196-5.1209365,0-2.0330433-2.1473449-3.7898263-5.2572799-4.6160736ZM457.9958239,8.1013767c0,.5851605-.0689208,1.2947004-.1742514,1.6676427-.4525237-.0527292-.9056924-.0715845-1.4459966-.0715845-.4700739,0-.9414573.0351747-1.412186.1067592v7.5908997h-1.91738v-8.8680457c.8192314-.2837376,2.1963072-.4959558,3.2762509-.4959558.5923197,0,1.2554947.0175545,1.673563.0702843ZM445.1326928,11.9677938h4.3230388c0-1.4541243-.7659163-2.3055336-2.0916314-2.3055336s-2.0747162.7986795-2.2314075,2.3055336ZM451.2846764,13.6002619h-6.1175282c.2444718,1.5784386,1.1501641,2.3407077,2.8581826,2.3407077,1.0454883,0,2.1091815-.2310735,3.0681989-.6743646-.0689208.5148768-.1742514,1.1879406-.2964872,1.7731023-.8712369.4081164-1.7951342.5676054-2.8230724.5676054-3.2079849,0-4.7586573-1.8095121-4.7586573-4.8421395,0-2.6420661,1.2015347-4.7353809,4.2521736-4.7353809,2.7359467,0,3.9225207,1.8271317,3.9225207,4.0610808,0,.5499858-.0351102.9932769-.1053306,1.5081537M439.7459607,15.3381895v-5.4624753c-.5058389-.1066947-1.0279332-.1770441-1.5337721-.1770441-1.9004698,0-2.8068219,1.2054963-2.8068219,3.2285269,0,1.8095121.7145456,3.0853572,2.4225691,3.0853572.7665611,0,1.3946309-.266247,1.9180249-.6743646ZM441.6451358,4.9808768v12.4142171h-1.7593841l-.1053306-1.1351463c-.4876339.8337891-1.2379396,1.3473651-2.4927845,1.3473651-2.3003332,0-3.8341053-1.7027529-3.8341053-4.6813509,0-2.9786631,1.6384528-4.8948693,4.8620385-4.8948693.5058389,0,.9765675.0527292,1.4290913.1418688v-2.9258688c.5923098-.2134797,1.2724-.2662157,1.8991751-.2662157M431.9191094,11.4353619v5.9584968h-1.9173751v-5.6219637c0-1.4013951-.4531736-2.0756952-2.3712034-2.0756952-.4525237,0-.992823.0527292-1.516217.1418688v7.5557902h-1.9180249v-8.8680457c1.2203845-.3013578,2.5623551-.4960209,3.4862573-.4960209,3.2073302,0,4.2352633,1.2595257,4.2352633,3.4055697M420.1892371,15.3733642v-5.5691701c-.4010936-.0703494-.8367121-.1067592-1.3772693-.1067592-1.9868812,0-2.9112398,1.2419061-2.9112398,3.2285269,0,1.8095121.7145456,3.0852927,2.4225641,3.0852927.7490705,0,1.3599771-.2486286,1.8647098-.6378903M422.1057689,8.5270482v8.8680457h-1.7598355l-.1048742-1.0636263c-.4874405.7798242-1.2378106,1.2770802-2.457089,1.2770802-2.3003332,0-3.8343632-1.7027529-3.8343632-4.6813509s1.6389042-4.8948693,4.8623609-4.8948693c1.2551028,0,2.2831005.1418688,3.293801.4960215M411.8220271,15.9409696c.5578494,0,1.0811144-.1067592,1.4994407-.2662482-.051822.5324319-.1221714,1.135212-.2270407,1.648788-.523265.2135197-1.0811193.2838033-1.6203769.2838033-1.8647147,0-3.0507033-.8689638-3.0507033-3.0326274V5.2634186c.5923792-.1946442,1.3241526-.2837965,1.9177669-.2837965v3.3515924h3.032171c-.0345249.6027156-.0875771,1.1527671-.1739885,1.6675782h-2.8581826v4.3448835c0,1.1527671.5578543,1.5960582,1.4809133,1.5960582M406.5055799,11.4353619v5.9584968h-1.9178314v-5.6219637c0-1.4013951-.4529156-2.0756952-2.3706826-2.0756952-.4529156,0-.9934728.0527292-1.5167378.1418688v7.5557902h-1.9177645v-8.8680457c1.220516-.3013578,2.5619657-.4960209,3.4863243-.4960209,3.2073946,0,4.2354568,1.2595257,4.2354568,3.4055697M394.7754471,15.3733642v-5.5691701c-.4010936-.0703494-.8367146-.1067592-1.3772717-.1067592-1.9868812,0-2.9112398,1.2419061-2.9112398,3.2285269,0,1.8095121.7145456,3.0852927,2.4225641,3.0852927.7490705,0,1.3599796-.2486286,1.8647122-.6378903M396.6919789,8.5270482v8.8680457h-1.7597735l-.1049387-1.0636263c-.4886732.7798242-1.2378106,1.2770802-2.457089,1.2770802-2.3003332,0-3.8342987-1.7027529-3.8342987-4.6813509s1.6388398-4.8948693,4.8622964-4.8948693c1.2551028,0,2.2831005.1418688,3.2938035.4960215M379.2801324,17.004597c.0345224-.7270944.1394636-1.2243516.3307442-1.7907219.9761137.4608462,2.231219.6919197,3.1901024.6919197,1.6203744,0,2.5274383-.5324307,2.5274383-1.5784386,0-1.0460724-.6627261-1.5081537-2.3003307-2.2339485l-.8885341-.3905625c-1.6389067-.7270944-2.7545485-1.6676427-2.7545485-3.5474391,0-2.0217625,1.3772742-3.3164307,4.2008699-3.3164307,1.1329364,0,2.1966941.1594822,3.1901669.514857-.0518195.7094878-.1740529,1.2594805-.3480414,1.7731215-.9415888-.3541521-2.0572305-.5148762-2.8581851-.5148762-1.5166709,0-2.2139218.6027801-2.2139218,1.5433284s.6799563,1.4541249,1.8992346,1.9865562l.9416558.408117c2.2139218.9581034,3.1370453,1.9690011,3.1370453,3.6893737,0,2.0392848-1.5166709,3.4406793-4.4797946,3.4406793-1.4290293,0-2.5964881-.2122175-3.5726662-.6743001M379.214984,26.2981201c0-2.6910247,1.4686237-4.292088,4.0898174-4.292088.6293744,0,1.2353403.0715845,1.7832465.2724885-.0234085.4507702-.1048742.8413303-.2208674,1.1740934-.4776212-.1657318-.9786485-.2611786-1.5611439-.2611786-1.5956688,0-2.7384865,1.0083641-2.7384865,3.0476477,0,2.0393505,1.164991,3.1657193,2.715016,3.1657193.5590895,0,1.2119319-.1305546,1.6771346-.3679354-.023406.4508347-.0925202.8413972-.1986296,1.292165-.4776212.1657962-.9552425.2612431-1.6549638.2612431-2.505203,0-3.8911234-1.7429997-3.8911234-4.292155ZM390.1089206,27.3641522c0-1.4465819-.6528449-2.1096329-1.7005406-2.1096329-1.1884614,0-1.736432.8061556-1.736432,2.0632104,0,1.4578967.6528424,2.1096354,1.736432,2.1096354,1.141518,0,1.7005406-.7936726,1.7005406-2.0632128ZM385.3663228,27.4244244c0-2.0744607,1.1883969-3.2837263,3.0765796-3.2837263,1.8881852,0,2.9717079,1.3637495,2.9717079,3.1179971,0,2.0744582-1.177345,3.2837263-3.0876985,3.2837263-1.9104205,0-2.9593538-1.363685-2.9593538-3.1179971M397.4976161,26.4160627v3.9831897h-1.2822168v-3.7584234c0-.9367771-.3023331-1.3876118-1.5845524-1.3876118-.3036328,0-.6639613.0351747-1.0132378.0942117v5.0505884h-1.2822168v-5.9283285c.8157789-.2022061,1.7129616-.331528,2.3299794-.331528,2.1436394,0,2.8310091.8413328,2.8310091,2.2766668M398.4168382,30.1393759c.023406-.4860094.0814683-.8300849.1752236-1.1025734.535619.2724885,1.2822143.4144224,1.8413038.4144224.7342486,0,1.141518-.2022036,1.141518-.6994609,0-.4382847-.3492716-.616564-.9082966-.7936081l-.5948495-.1896561c-1.1773425-.3792502-1.5721959-1.0083641-1.5721959-1.8735568,0-1.0912585.7577166-1.7542451,2.2250382-1.7542451.7343131,0,1.3636875.0828324,1.9104205.2838033-.023468.344073-.0703494.6642862-.1864045,1.0434694-.5479036-.1782768-1.0835252-.2486261-1.6894266-.2486261-.8157789,0-1.0255869.2612406-1.0255869.6278763,0,.4382847.2912787.6529738.9082966.8539447l.6170873.2021416c1.1069932.3553878,1.5845474.8777401,1.5845474,1.8132821,0,1.078711-.8391874,1.8258321-2.3768583,1.8258321-.8626553,0-1.5031461-.1180071-2.0510523-.4030456M408.8097475,24.2828924v6.1179846h-1.1884589l-.0703494-.7710479c-.3961579.5336671-.955178.9129173-1.7474889.9129173-1.4093238,0-2.155924-.7584334-2.155924-2.2766668v-3.9831872h1.2809816v3.6868364c0,1.0083617.3380907,1.4578967,1.3167416,1.4578967.4665024,0,.9206531-.1544194,1.2822812-.4746301v-4.6713382h1.2822168v.0012352ZM419.121645,26.4160627v3.9831897h-1.2822168v-3.7935336c0-.8890525-.3850366-1.3511995-1.4562697-1.3511995-.4195614,0-.8625908.0942092-1.2587438.2611761.0814658.2612406.1159906.5575939.1159906.9016669v3.9831897h-1.2822168v-3.8061456c0-.8777401-.396153-1.3398872-1.5031511-1.3398872-.3615636,0-.745365.0351747-1.0946366.1067592v5.0392735h-1.2822217v-5.9283285c.8157144-.2022061,1.7128996-.3315255,2.5052055-.3315255s1.4562697.1418694,1.8993041.4620801c.6638943-.2963508,1.3636825-.4620801,2.0152898-.4620801,1.9683538,0,2.6211962.8413303,2.6211962,2.2766643M421.2654803,26.7714506h2.8905c0-.9719518-.512342-1.5407936-1.3985348-1.5407936-.8860638,0-1.387091.5336671-1.4919652,1.5407936ZM425.3789642,27.8626446h-4.0900803c.1629365,1.0548487.7689025,1.5646559,1.9106834,1.5646559.6982902,0,1.4089369-.1544194,2.0506629-.4507702-.0468119.3440755-.1157327.7948432-.1983047,1.1854058-.5825624.272491-1.1995803.3792502-1.8881182.3792502-2.1438998,0-3.1805436-1.2093326-3.1805436-3.2373038,0-1.766862.804593-3.1657217,2.8430978-3.1657217,1.8289547,0,2.6215236,1.2205805,2.6215236,2.714887,0,.3679354-.0234085.6642862-.0702204,1.0083617M429.7364634,24.1871206c0,.3917977-.0468169.8651926-.1157327,1.1138212-.3036353-.0351102-.6059659-.0476577-.9681149-.0476577-.3146872,0-.6293744.0238599-.9440616.0715176v5.0744507h-1.2821523v-5.9283285c.5481021-.1895941,1.4687552-.331528,2.1904538-.331528.3966093,0,.8393808.0113148,1.118303.0477247M436.5990987,28.053082c0-.8413303-.6293744-1.233128-1.9225786-1.233128h-1.1306645v2.4423961h1.0831978c1.3172625,0,1.9700453-.3202132,1.9700453-1.2092681ZM433.5458556,23.2511223v2.4298486h1.0487424c1.154063,0,1.6553532-.4269079,1.6553532-1.2092681,0-.6994609-.3732009-1.2683026-1.8757666-1.2683026-.2912787,0-.5481021.0113123-.8270243.0477222M437.9267633,27.994045c0,1.5294813-.9440616,2.4072883-3.1579189,2.4072883h-2.5285445v-8.1447231c.5825575-.1067592,1.3744765-.1896586,2.1091766-.1896586,2.2015058,0,3.2268397.8539447,3.2268397,2.2528045,0,.6994633-.3491476,1.4943066-1.1306596,1.8496944.9206531.2373783,1.4798022.9480895,1.4798022,1.8258296M442.7049202,29.0481149v-3.7232462c-.2678653-.0477247-.559154-.0715845-.9206531-.0715845-1.3276596,0-1.9459821.8300179-1.9459821,2.1573576,0,1.2092656.4772318,2.0631459,1.6189483,2.0631459.5012852,0,.9083016-.1657318,1.2463873-.4269079M443.9870725,24.4722236v5.9283285h-1.1774665l-.0702204-.7107757c-.3257441.5224192-.8270292.8539447-1.6423518.8539447-1.537676,0-2.5636547-1.1376836-2.5636547-3.1293094,0-1.9916283,1.0948995-3.2724785,3.250888-3.2724785.8393808,0,1.526624.0942092,2.2015058.3315255M450.418638,26.4160627v3.9831897h-1.2821523v-3.7584234c0-.9367771-.3023307-1.3876118-1.5844829-1.3876118-.3036303,0-.6638298.0351747-1.0136222.0942117v5.0505884h-1.2821523v-5.9283285c.8159674-.2022061,1.713217-.331528,2.3302399-.331528,2.1436369,0,2.8308702.8413328,2.8308702,2.2766668M456.9548894,30.3993814h-1.5500275l-2.2840777-3.259931v-.0828324l2.2249093-2.7739216h1.5142725l-2.3061915,2.8103314,2.3998154,3.3075887.0012996-.0012352ZM451.6312247,22.1956237c.4304199-.1418694.8627843-.1895916,1.2821523-.1895916v8.3933492h-1.2821523v-8.2037576Z"/>
  <path id="Warstwa_x5F_1" class="st5" d="M275.6912087,14.6177294l-5.9228185.0032318c.4336853-4.5052477,6.1445231-4.2786811,5.9228185-.0032318ZM282.6723864.2378762l-.046932,30.1465326-20.0696417-.116515-.0080937-29.9830855,20.1246674-.046932ZM266.7163486,13.5383495c-1.5907418,6.0635861,1.9224979,10.6416485,8.5686877,9.7095283,2.6474708-.3705658,3.3109543-.4304535,3.021297-3.5261668-3.8514594.9272583-7.8792929,2.0972419-8.6058959-2.6992648l9.1512343-.0129556c1.2832955-10.444225-10.2646191-10.6044403-12.1353231-3.4711411ZM322.8569588,25.0166507c2.4160576.4175108,3.8417422.4256001,4.8078423-1.4774701.6683412-1.3172642-3.878964-8.4197972-5.0522008-14.5902134l3.4161397-.001618c.579339,2.2752706,2.2995478,8.6107498,3.4452721,10.0768909.9191692-1.4159755,2.3675118-7.8517872,2.922573-10.0461448l3.29801-.0323653c-.5777143,3.5358929-2.7672168,9.3195469-4.0440245,12.4719122-.7816212,1.9273431-1.7185889,4.1621591-2.8384254,5.260955-1.2897516,1.2622415-4.2349826,2.0373859-6.3419524.8770954l.386766-2.5390468v.0000049ZM311.7282072,5.2658092l3.1782556-.4968051.0388366,4.163777,4.8078423.0242741-.4644392,2.7332372-4.3110409.0534028c-.1699151,1.1861832-.1682952,6.4163921.1537365,7.4100023.8236926,2.5487547,3.605478.9612455,5.57328.710415-.0388366.8641503-.0194183,1.9936935-.4175083,2.6312874-1.1910403,1.0421584-4.0132821,1.1246886-5.7609985.5534438-1.7234435-.563153-2.5018251-1.9726566-2.741329-4.0310793-.3689626-3.192823-.2670115-10.4458541-.05664-13.7519543l.0000049-.0000009ZM286.1710592,9.6237761c2.6717426-.877096,5.6752285-1.3269715,8.592947-.4288385l-.5663902,2.5859758c-1.7331551.0485482-2.3756036-.4612032-4.6282181-.0614933-.4498754,1.7202075-.0647318,8.9085092-.1424075,11.3326586l-3.2559337-.0550202v-13.3732805l.0000025-.0000019ZM308.4139989,10.10925l-.0210208,13.2600048-2.6830774-.0404685-.1812361-1.377131c-2.9420187,3.5164715-10.2969939,2.0438749-9.5202271-6.4244852.5485987-5.9778443,6.6995854-7.4601648,12.4055613-5.4179201ZM305.4720088,12.0139303c-4.0747655-.3139385-6.596026.3301259-6.5231827,4.8046003.0728147,4.4841983,3.0115731,5.2836161,6.5102556,3.6055023l.012927-8.4101026Z"/>
  <path class="st7" d="M526.8115435,11.7242188c-.0351616,2.7711316,2.4696079,4.3176366,4.3564908,5.2370287,1.9386803.9434455,2.5898549,1.5483584,2.5824413,2.3919077-.0147946,1.2912206-1.5465091,1.8609841-2.9801849,1.8831842-2.5010546.0388521-3.9550648-.6752077-5.111244-1.2153779l-.9008906,4.2158972c1.159894.5346141,3.3076052,1.0007909,5.5348781,1.0211376,5.2277759,0,8.6482145-2.580596,8.666724-6.5819062.0203344-5.0779439-7.0240337-5.359127-6.9759349-7.6289446.0166684-.688153.6733665-1.4225635,2.1125821-1.6094025.7121942-.0943401,2.6786225-.1664882,4.9077529.8601973l.8750001-4.0790023c-1.1987217-.4365713-2.7396747-.8546493-4.6580043-.8546493-4.9207063,0-8.38183,2.6157373-8.4095944,6.3599219M548.286928,5.7157666c-.9545455,0-1.7592549.5568182-2.1181382,1.4114676l-7.467986,17.8310736h5.2240936l1.0396308-2.8728751h6.3839713l.6030595,2.8728751h4.604382l-4.0179419-19.2425411h-4.2510711M549.0176317,10.9139533l1.5076814,7.2256652h-4.1289667l2.6212853-7.2256652M520.477561,5.7157666l-4.1178544,19.2425411h4.9780436l4.115997-19.2425411h-4.9762024M513.1131373,5.7157666l-5.1815509,13.0972103-2.0959137-11.1363299c-.2460174-1.2431219-1.217215-1.9608803-2.2957061-1.9608803h-8.4706303l-.1183895.5586676c1.7389042.3773766,3.714571.9859922,4.9114516,1.6371505.7325449.3977192.9415921.7455065,1.1820697,1.6907973l3.9698595,15.3559217h5.2610964l8.0655057-19.2425371h-5.2277922Z"/>
  <g>
    <path d="M605.2664414,30.5551973v-2.0322778c0-.7773961-.4735405-1.2864506-1.2864518-1.2864506-.4064557,0-.8484266.1341708-1.1522816.5761399-.2367702-.370941-.5761408-.5761399-1.0851969-.5761399-.3393706,0-.6787412.1025995-.9470809.4735405v-.4064551h-.7103107v3.2516454h.7103107v-1.7955076c0-.5761399.303855-.8484266.7773955-.8484266s.7103107.3038556.7103107.8484266v1.7955076h.7103107v-1.7955076c0-.5761399.3393709-.8484266.7773955-.8484266.4735405,0,.7103107.3038556.7103107.8484266v1.7955076h.7852883v-.0000024ZM615.8027165,27.3035543h-1.1522823v-.9825974h-.7103107v.9825974h-.6432253v.6432253h.6432253v1.4916519c0,.7458272.3038556,1.1838511,1.1167658,1.1838511.3038556,0,.6432253-.1025995.8799955-.2367702l-.2052013-.6116564c-.2052013.1341708-.4419716.1696848-.6116564.1696848-.3393709,0-.4735405-.2052013-.4735405-.5406258v-1.4561379h1.1522823v-.6432229h.0039476ZM621.8324656,27.2325213c-.4064551,0-.6787418.2052013-.8484266.4735405v-.4064551h-.7103107v3.2516454h.7103107v-1.831024c0-.5406258.2367702-.8484266.6787418-.8484266.1341708,0,.3038556.0355165.4419716.0670854l.2052013-.6787418c-.1420636-.0276237-.3433197-.0276237-.4774881-.0276237h0ZM612.7207571,27.5718934c-.3393709-.2367702-.8129114-.3393697-1.3219671-.3393697-.8129114,0-1.353536.4064551-1.353536,1.0496804,0,.5406258.4064551.8484266,1.1167658.9470809l.3393709.0355165c.3709398.0670854.5761411.1696848.5761411.3393697,0,.2367702-.2722855.4064551-.745826.4064551s-.8484266-.1696848-1.0851969-.3393697l-.3393709.5406258c.3709398.2722867.8799955.4064551,1.3890525.4064551.9470809,0,1.4916519-.4419716,1.4916519-1.0496804,0-.5761399-.4419716-.8799955-1.1167658-.9825974l-.3393709-.0355165c-.3038556-.0355165-.5406258-.1025995-.5406258-.3038556,0-.2367702.2367702-.370941.6116564-.370941.4064551,0,.8129114.1696848,1.0181115.2722867l.2999092-.5761399h0ZM631.6189683,27.2325213c-.4064551,0-.6787418.2052013-.8484266.4735405v-.4064551h-.7103107v3.2516454h.7103107v-1.831024c0-.5406258.2367702-.8484266.6787418-.8484266.1341708,0,.3038556.0355165.4419716.0670854l.2051989-.670849c-.138116-.0355165-.3393697-.0355165-.4774857-.0355165h0ZM622.5427763,28.9293746c0,.9825974.6787418,1.6929081,1.7284222,1.6929081.4735405,0,.8129101-.1025995,1.1522823-.370941l-.3393697-.5761399c-.2722867.2052013-.5406258.3038556-.8484266.3038556-.5761399,0-.9825974-.4064551-.9825974-1.0496804,0-.6116564.4064551-1.0181115.9825974-1.0496804.3038556,0,.5761399.1025995.8484266.3038556l.3393697-.5761399c-.3393697-.2722867-.6787418-.370941-1.1522823-.370941-1.0496828-.00395-1.7284222.7103083-1.7284222,1.6929033h0ZM629.1131501,28.9293746v-1.6258227h-.7103107v.4064551c-.2367702-.3038556-.5761399-.4735405-1.0181115-.4735405-.915512,0-1.6258227.7103107-1.6258227,1.6929081s.7103107,1.6929081,1.6258227,1.6929081c.4735405,0,.8129101-.1696848,1.0181115-.4735405v.4064551h.7103107v-1.6258227h0ZM626.50473,28.9293746c0-.5761399.370941-1.0496804.9825974-1.0496804.5761399,0,.9825974.4419716.9825974,1.0496804,0,.5761399-.4064551,1.0496804-.9825974,1.0496804-.6077112-.0355141-.9825974-.4774857-.9825974-1.0496804h0ZM618.0046791,27.2325213c-.9470809,0-1.6258227.6787418-1.6258227,1.6929081,0,1.0181115.6787418,1.6929081,1.661338,1.6929081.4735405,0,.9470809-.1341708,1.3219671-.4419716l-.3393697-.509057c-.2722867.2052013-.6116564.3393697-.9470809.3393697-.4419716,0-.8799955-.2052013-.9825962-.7773961h2.4032176v-.2722867c.0315689-1.0457328-.5800875-1.7244746-1.4916532-1.7244746h0ZM618.0046791,27.8441777c.4419704,0,.745826.2722867.8129114.7773961h-1.6929069c.0670842-.438024.3709398-.7773961.8799955-.7773961h0ZM635.6519526,28.9293746v-2.9122733h-.7103107v1.6929081c-.2367702-.3038556-.5761399-.4735405-1.0181115-.4735405-.915512,0-1.6258227.7103107-1.6258227,1.6929081s.7103107,1.6929081,1.6258227,1.6929081c.4735405,0,.8129101-.1696848,1.0181115-.4735405v.4064551h.7103107v-1.6258251h0ZM633.0435349,28.9293746c0-.5761399.370941-1.0496804.9825974-1.0496804.5761399,0,.9825974.4419716.9825974,1.0496804,0,.5761399-.4064551,1.0496804-.9825974,1.0496804-.6116564-.0355141-.9825974-.4774857-.9825974-1.0496804h0ZM609.2639115,28.9293746v-1.6258227h-.7103107v.4064551c-.2367702-.3038556-.5761411-.4735405-1.0181121-.4735405-.9155114,0-1.6258221.7103107-1.6258221,1.6929081s.7103107,1.6929081,1.6258221,1.6929081c.4735405,0,.8129107-.1696848,1.0181121-.4735405v.4064551h.7103107v-1.6258227h0ZM606.6239238,28.9293746c0-.5761399.3709398-1.0496804.9825962-1.0496804.5761411,0,.9825962.4419716.9825962,1.0496804,0,.5761399-.4064557,1.0496804-.9825962,1.0496804-.6116564-.0355141-.9825962-.4774857-.9825962-1.0496804Z"/>
    <g>
      <path class="st4" d="M622.4757035,12.1936658c0-3.8948801-1.8310349-7.3517308-4.6406954-9.5852638-2.8096891,2.233533-4.640724,5.6903837-4.640724,9.5852638,0,3.8948515,1.8270934,7.383292,4.640724,9.5852352,2.8451633-2.2374746,4.6406954-5.6903837,4.6406954-9.5852352Z"/>
      <path class="st6" d="M613.1942976,12.1936667c0-3.8948701,1.8310228-7.3517157,4.6406967-9.5852478-2.0677931-1.6258225-4.676212-2.6084189-7.5214011-2.6084189-6.7400592,0-12.1936667,5.4536074-12.1936667,12.1936667s5.4536074,12.1936667,12.1936667,12.1936667c2.8451891,0,5.453608-.9825974,7.5214011-2.6084177-2.8136202-2.2019638-4.6406967-5.6903783-4.6406967-9.585249Z"/>
      <path id="path22" class="st3" d="M637.550062,12.1936667c0,6.7400586-5.453608,12.1936667-12.1936667,12.1936667-2.8451879,0-5.453608-.9825974-7.5214011-2.6084177,2.8451891-2.2374791,4.6406967-5.6903783,4.6406967-9.5852478s-1.831024-7.3517169-4.6406967-9.5852493c2.0638479-1.6258222,4.6722656-2.6084186,7.5174535-2.6084186,6.7440063,0,12.1976143,5.4891233,12.1976143,12.1936667Z"/>
    </g>
  </g>
  <g>
    <polygon class="st0" points="18.7235514 17.6129134 26.1016398 17.6034794 25.8327447 19.2828897 19.6623233 25.1749834 24.8420806 25.1655479 24.5401657 26.9770491 16.9120517 26.9817654 17.2328376 25.108938 23.1485171 19.4432841 18.4263513 19.4432841 18.7235514 17.6129134"/>
    <path class="st0" d="M10.6519976,14.7399878c-.1603929-.1698284-.3915483-.3019164-.6462902-.4057008-.2688944-.1037844-.5660938-.1792624-.8585754-.2311547-.3679611-.066044-.7264867-.094349-.9812293-.1037844-.2358724-.0094355-.3868306-.0094355-.3868306-.0094355H2.1511564L0,26.9817654h2.0096328l.7925312-4.811797,3.896612.0188695s1.5190181.0613262,2.5945964-.5094838c1.0755783-.5708115,1.3633422-1.8681097,1.3633422-1.8681097,0,0,.1179362-.4811803.2170029-1.0661435.1085014-.646291.2170029-1.4199521.2736121-1.8303692.0235872-.1792624.0377397-.2924824.0377397-.2924824,0,0,.028305-.132088.028305-.3396568.0047177-.2877646-.0377397-.721769-.2641774-1.1369053-.0801965-.1462397-.1745454-.2783277-.2971994-.4056994ZM9.1046745,17.0326679c0,.0235872-.1792632,1.0661435-.4151356,2.302114-.0896312.4717448-.4528753.7264867-.8680101.8161179-.6887477.1462412-1.4293869.1179362-1.4293869.1179362l-3.2550391-.0094355.717052-4.3164649,2.948405.0094355s.1981327-.0047177.4764625,0c.3160689.0047177.7359222.0188695,1.0802953.066044.2971994.037739.5330718.0990667.6085505.1934157.0990667.1226539.1368057.2830469.1509582.4245703.0188702.2075689-.0141518.3821136-.0141518.3962668Z"/>
    <polygon class="st0" points="36.1073459 13.9899139 38.0414996 13.9899139 35.8761927 26.9817654 33.9373198 26.9770491 36.1073459 13.9899139"/>
    <polygon class="st0" points="46.4291244 17.6129134 48.283078 17.6081957 48.9388044 24.2031874 51.7928605 17.5987616 54.0808228 17.6034794 54.7554201 24.2267746 57.6047599 17.6081957 59.5294752 17.6081957 55.4441664 26.9723299 53.1609204 26.9723299 52.5004777 20.4150772 49.6181181 26.9723299 47.372614 26.9817654 46.4291244 17.6129134"/>
    <g>
      <path class="st2" d="M32.53624,17.6883928c-.5425065-.1745462-1.4812798-.2122852-2.2785268-.2028497-.7689434.0094355-1.122752.0471745-1.4105181.1085007,0,0-1.3680599.1981334-2.1464388,1.1604925s-1.009535,3.0663412-1.009535,3.0663412c0,0-.4623093,2.3257027-.3255051,3.1040817.1368071.7736626.3773958,1.4954316,1.25484,1.8303692.8774442.3396568,1.6228033.3207859,1.6228033.3207859,0,0,1.5661933.1226525,2.7455553-.1556752,1.179362-.2783306,1.8020657-1.1086003,1.8020657-1.1086003,0,0,.2783306-.3585249.4764611-.7830952.1981334-.4245703.2594596-.721769.2688951-.759508l.1226525-.5047675-2.0049154.0047163s-.1085007,1.3256017-1.1935138,1.4482571c-1.0802967.1226525-1.6605423.075478-1.8728274.0660454-.2075689-.0094355-1.3680599.0424582-1.273711-.9293378,0-.0141518,0-.0330227.0047163-.0613262.0518908-1.1038825.1745462-1.3916472.1745462-1.3916472l6.2977931-.0188695.2688951-1.5567578c.3113533-1.7643281.0896327-3.1088008-1.5237323-3.6371556ZM32.116386,21.1038249l-4.3164649-.0047177.169827-.68403s.1509589-.5377888.4481576-.7642272c.3019178-.2264369.68403-.2688951,1.0425549-.3019164.3585249-.0330227,1.3161691-.1037844,2.0945481.05661.2594596.0518922.5047675.1981334.5708101.4151348.1509618.5094852-.0094326,1.2831464-.0094326,1.2831464Z"/>
      <path class="st2" d="M27.3281763,24.311691c0,.0141518-.0047163.0283035-.0047163.0424582-.0047192.075478.0047163-.0471774.0047163-.0424582Z"/>
    </g>
    <g>
      <path class="st2" d="M39.2067098,24.3164073c0,.0141518-.0047163.0283035-.0047163.0424582,0,.075478.0047163-.0471745.0047163-.0424582Z"/>
      <path class="st2" d="M44.4194898,17.6931106c-.5425065-.1745462-1.4812798-.2122852-2.2785268-.2028497-.7689434.0094355-1.122752.0471745-1.4105181.1085007,0,0-1.3680599.1981334-2.1464388,1.1604925s-1.009535,3.0663412-1.009535,3.0663412c0,0-.4623093,2.3257013-.3255051,3.1040802.1368071.7736626.3773958,1.4954316,1.25484,1.8303692.8774442.3396568,1.6228033.3207859,1.6228033.3207859,0,0,1.5661933.1226525,2.7455553-.1556752,1.179362-.2783306,1.8020657-1.1086003,1.8020657-1.1086003,0,0,.2783306-.3585249.4764611-.7830952.1981334-.4245703.2594596-.721769.2688951-.759508l.1226525-.5047675-2.0049154.0047163s-.1085007,1.3256017-1.1935138,1.4482571c-1.0802967.1226525-1.6605423.075478-1.8728274.0707617-.2075689-.0094355-1.3680599.037739-1.273711-.9293378,0-.0141518,0-.0330227.0047163-.0613262.0518908-1.1038825.1745462-1.3916472.1745462-1.3916472l6.2977931-.0188695.2688951-1.5567578c.3113562-1.7690444.0896355-3.1182334-1.5237323-3.6418704ZM43.9807677,21.1038249l-4.3164649-.0047177.169827-.68403s.1509589-.5377888.4481576-.7642272c.2971986-.2264369.68403-.2688951,1.0425549-.3019164.3585249-.0330227,1.3161691-.1037844,2.0945481.05661.2594596.0518922.5047675.1981334.5708101.4151348.1509618.5047675-.0094326,1.2831464-.0094326,1.2831464Z"/>
    </g>
    <path class="st0" d="M61.7561141,17.6129134l1.2406911,6.8497336,3.5050662-6.8544514,1.9718956.0188695-5.0523857,9.7887032s-.9151861,1.7737593-1.4812798,2.2219169-.9151861.6510072-1.3774925.6981817c-.4623122.0471745-.6510101.0801972-1.0944456,0l-.4717448-.0849135.2924795-1.7501721s.7830952.1462397,1.2454074-.037739c.4670285-.1839816.839708-.9765123.839708-.9765123l.2358724-.3962668-1.8256501-9.4820705,1.9718783.0047206h0Z"/>
    <path class="st1" d="M69.190811,18.5422512l2.0332189.0047177.1226525-.7878144s.2170015-1.4246699.7029009-1.6982813c.1556781-.0896312.4056994-.1698284.6934626-.2217206.5330739-.094349,1.2076655-.1037844,1.7596104-.0849135.8444243.028305,1.1652074.037739,2.0237863.1368057.8585732.0990667.6415718.9293378.6415718.9293378l-.169827,1.2406882s-.075478.5566583-.2736143.9010329c-.1745433.3066341-.6557264.5142015-.934057.6038328-.6698753.2170029-2.9625596.8019662-2.9625596.8019662l-1.8020628.5189193s-1.1086003.3207859-1.7265848,1.0048158c-.6227008.6887477-.8680116,1.4671266-.9529222,1.8728274-.0849164.4056994-.5613775,3.2125809-.5613775,3.2125809l9.7273755.0047163.3255051-1.9435892-7.6941565.0094355.1368071-.7925307s.0896327-.8161179.419854-1.085013c.1037816-.0849135.1556781-.1981334.7689463-.4151348.3679632-.132088,1.6228033-.4670271,1.6228033-.4670271l2.9012305-.7925307s1.5850614-.4057008,2.207768-1.273711c.6227008-.8632924.8632953-2.5191169.8632953-2.5191169,0,0,.169827-1.6086501.0377419-2.1134161-.1273688-.5047675-.6038356-1.1086003-1.1840783-1.3680599-.5802484-.2594596-1.1840783-.4104186-2.9342504-.3868313s-2.6181836.1037844-3.5050662.4340058c-.8868825.3255036-1.4010798.9199024-1.7265848,1.7596075-.3538201.7972499-.561389,2.5144006-.561389,2.5144006h0Z"/>
    <path class="st1" d="M87.5039419,22.1558167l1.3633436-8.1706205h-2.4153311l-7.5196133,8.0762716-.339654,2.0473736h6.5761237l-.4811774,2.8682078,2.01907.0047163.4764611-2.872927,1.863392.0047163.3349377-1.9577409-1.8775524.0000029ZM85.4943102,22.160533l-4.2504195-.0047177,5.1750382-5.5146964-.9246187,5.5194142Z"/>
    <path class="st1" d="M14.9165703,15.0607737h6.1940101s1.3869294-1.122752,2.3728758-1.8445225c.9859478-.721769,2.778578-1.8586742,2.778578-1.8586742l-3.500347-1.6369543s-2.9578405,1.83037-4.2126805,2.6936624c-1.2171024.7972499-3.6324364,2.6464886-3.6324364,2.6464886h0Z"/>
    <path class="st1" d="M28.2292077,10.201803l-2.872927-1.9341537s2.5993127-1.4765614,6.0572044-2.854056c3.4531725-1.3774947,5.2976935-1.9530235,5.2976935-1.9530235l.5849647,2.7408372s-3.3258008,1.113318-5.231651,2.0143502c-1.9718927.8397059-3.8352847,1.9860459-3.8352847,1.9860459h0Z"/>
    <path class="st1" d="M39.418995,5.6022912l-.5000483-2.8068816s3.5475215-.9434896,6.7931251-1.5473229c3.2503199-.6038333,7.5573523-.8915977,7.5573523-.8915977l-1.424667,4.3353349s-3.7881131-.5189193-7.3450671-.033022c-2.7691454.330221-5.080695.9434892-5.080695.9434892h0Z"/>
    <path class="st1" d="M54.0996937,5.0597847L56.4961596.2432703s5.2505219-.1037838,9.779272.5991159c4.5287501.6981823,8.6706717,1.7737602,8.5810391,1.8209347l-11.4822696,6.0053115s-2.6842291-1.6982813-6.0147462-2.7408369c-1.886985-.5566594-3.2597612-.8680109-3.2597612-.8680109h0Z"/>
    <path class="st1" d="M65.4310015,9.9753654l2.5238347,1.9152842h20.7426166s-.0424582-.6698775-.5943973-1.6228018c-.344376-.5943987-.9717931-1.2265365-1.6275196-1.8822615-.2405887-.2358724-1.1935166-.9812293-1.9105664-1.4482564-1.8303721-1.1887968-2.854056-1.6463894-4.7551899-2.5096822l-14.3787781,5.5477177h0Z"/>
    <path class="st2" d="M16.261043,17.6034794c-.7783789,0-1.5143011.3066341-2.1417211.6510072l.1085007-.6510072h-2.0615254l-1.6511068,9.3263953h2.0662416l.9151846-5.1656056c.1886979-1.047274.9717946-2.3445722,2.5002474-2.3445722l1.0661435-.0047177.3207859-1.8114997h-1.1227506Z"/>
  </g>
  <g>
    <rect class="st9" x="133.9581997" y="17.1758252" width="5.8687128" height="5.8203934"/>
    <rect class="st10" x="133.9341378" y="9.2781025" width="5.8687128" height="5.8687128"/>
    <rect class="st8" x="126.1091872" y="17.1030528" width="5.868713" height="5.8687128"/>
    <path d="M157.3237751,8.9143019c0,4.0462815-3.2552747,7.3015592-7.4536545,7.3015592h-3.1945363v6.6931692h-4.8677066V1.6127427h8.062243c4.1983797,0,7.4536545,3.2552777,7.4536545,7.3015592M152.45607,8.9143019c0-1.5515905-1.0951987-2.7381461-2.5859493-2.7381461h-3.1945363v5.4761936h3.1945363c1.4907506,0,2.5859493-1.1865556,2.5859493-2.7380476"/>
    <path d="M174.2997808,7.2822811v15.6153727h-4.6846034v-1.4678625c-1.0306425,1.1868489-2.5610098,1.9051795-4.6534014,1.9051795-4.0912726,0-7.4642183-3.5915538-7.4642183-8.2450522,0-4.6533999,3.3729457-8.2449537,7.4642183-8.2449537,2.0923916,0,3.6227588.7183299,4.6534014,1.905081v-1.4677647h4.6846034ZM169.6151774,15.0899185c0-2.3423017-1.5615663-3.8101634-3.7165589-3.8101634-2.1548911,0-3.7164604,1.4678618-3.7164604,3.8101634s1.5615693,3.8101634,3.7164604,3.8101634c2.1549926,0,3.7165589-1.4678618,3.7165589-3.8101634"/>
    <path d="M192.0969519,7.2819676l-5.3037513,15.0428808c-1.7369429,4.9315763-4.4974898,6.8855647-8.8396531,6.6685192v-4.3423573c2.1711324,0,3.1945393-.6822385,3.8770673-2.5742139l-6.1723212-14.7948288h5.1176197l3.4428779,9.4909806,2.9155749-9.4909806h4.9625858Z"/>
    <path d="M209.4380239,8.9143019c0,4.0462815-3.2552777,7.3015592-7.4536545,7.3015592h-3.1945393v6.6931692h-4.8677051V1.6127427h8.0622445c4.1983767,0,7.4536545,3.2552777,7.4536545,7.3015592M204.5703187,8.9143019c0-1.5515905-1.0952972-2.7381461-2.5859493-2.7381461h-3.1945393v5.4761936h3.1945393c1.4906521,0,2.5859493-1.1865556,2.5859493-2.7380476"/>
    <path d="M210.0463751,15.3032074c0-4.5331887,3.5898942-8.031823,8.0622445-8.031823,4.4721533,0,8.0620475,3.4986343,8.0620475,8.031823,0,4.5330917-3.5898942,8.0317245-8.0620475,8.0317245-4.4723503,0-8.0622445-3.4986328-8.0622445-8.0317245M221.6072509,15.3032074c0-2.1600775-1.5211705-3.5899897-3.4986313-3.5899897-1.9775623,0-3.4987328,1.4299122-3.4987328,3.5899897s1.5211705,3.5898912,3.4987328,3.5898912c1.9774608,0,3.4986313-1.4298137,3.4986313-3.5898912"/>
  </g>
</svg>
</div>
          
          {%- if section.settings.show_payment_icons and shop.enabled_payment_types.size > 0 -%}
            <div class="footer__payment-icons h-stack wrap gap-2">
                       <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 38 24" width="38" height="24" aria-labelledby="pi-przelewy24"><title id="pi-przelewy24">Przelewy24</title><path fill="#fff" d="M35 1c1.1 0 2.001.9 2.001 2v18a2.006 2.006 0 0 1-2 2H3a2.007 2.007 0 0 1-2-2V3c0-1.1.9-2 2.001-2h32z"/><path fill="#CF4545" d="m3 15.576.81-4.581h2.087c.514 0 .847.1.999.299.152.199.18.572.083 1.117-.093.524-.253.88-.482 1.071-.228.19-.61.285-1.147.285l-.201.004H3.833l-.319 1.805H3zm.91-2.242h1.22c.51 0 .845-.052 1.007-.157.163-.105.277-.347.344-.725.078-.443.08-.723.003-.84-.076-.118-.295-.177-.658-.177l-.197-.004H4.247l-.336 1.904zm3.528-.966h.467l-.112.369.009.01c.238-.302.57-.453.995-.453.588 0 .828.304.72.913l-.042.221h-.461l.024-.08a2.54 2.54 0 0 0 .04-.171c.058-.33-.09-.494-.447-.494-.52 0-.839.324-.953.97l-.34 1.923h-.467l.567-3.208zm2.488 0h2.3l-.08.456-2.321 2.363h1.903l-.069.39H9.2l.078-.447 2.33-2.373h-1.75l.069-.39zm4.6 2.239h.477l-.017.117c-.06.333-.201.566-.426.7-.225.133-.59.2-1.096.2-.588 0-.954-.109-1.1-.325-.145-.215-.157-.669-.035-1.36.114-.64.282-1.07.505-1.29.224-.218.605-.328 1.144-.328.588 0 .956.095 1.105.285.149.19.17.59.061 1.202l-.044.251h-2.298c-.09.506-.092.828-.009.967.084.139.324.208.72.208.376 0 .626-.033.75-.099s.206-.208.245-.428l.018-.1zm.161-.913.023-.152c.061-.346.044-.572-.05-.676-.096-.104-.331-.156-.708-.156-.378 0-.634.061-.768.183s-.238.389-.31.8h1.813zm1.973-2.699-.81 4.582h-.467l.81-4.582h.467zm2.218 3.612h.477l-.017.117c-.06.333-.201.566-.426.7-.225.133-.59.2-1.096.2-.588 0-.954-.109-1.1-.325-.145-.215-.157-.669-.035-1.36.113-.64.282-1.07.505-1.29.224-.218.605-.328 1.144-.328.588 0 .956.095 1.105.285.149.19.17.59.061 1.202l-.044.251h-2.298c-.09.506-.092.828-.009.967.084.139.324.208.72.208.376 0 .626-.033.75-.099s.206-.208.245-.428l.018-.1zm.16-.913.024-.152c.062-.346.045-.572-.05-.676-.096-.104-.331-.156-.708-.156-.378 0-.634.061-.768.183s-.238.389-.31.8h1.813zm5.352-1.326-1.462 3.208h-.695l-.112-1.782-.034-.543-.012-.272-.016-.272h-.01l-.111.272-.112.272-.226.543-.746 1.782h-.708l-.297-3.208h.49l.138 1.775.041.557.018.279.017.279h.014l.113-.279.116-.279.231-.553.752-1.78h.681l.12 1.783.035.554.015.275.014.278h.01l.12-.278.115-.279.24-.557.76-1.776h.502zm2.354 0-.613 1.43-.306.711-.147.36-.15.355h-.013l-.06-.356-.057-.359-.122-.712-.238-1.43h-.497l.64 3.487-.073.159c-.197.422-.42.627-.67.614a1.015 1.015 0 0 1-.159-.024l-.069.39c.09.015.162.023.22.023.288 0 .524-.09.71-.268.187-.18.386-.508.597-.987l1.505-3.393h-.498z"/><path fill="#AEB2BA" d="m30.236 15.169-.076.432h-3.205l.15-.855c.085-.48.23-.793.44-.942.208-.148.662-.263 1.36-.343.56-.062.905-.146 1.038-.253.133-.106.238-.382.317-.828.068-.39.049-.644-.058-.76-.107-.117-.374-.176-.802-.176-.535 0-.88.047-1.038.142-.156.094-.266.321-.33.68l-.052.34h-.493l.045-.236c.096-.544.271-.906.528-1.087.257-.18.723-.271 1.4-.271.6 0 .985.097 1.158.293.172.195.208.575.109 1.141-.095.544-.255.907-.48 1.09-.224.183-.664.307-1.318.371-.576.058-.927.138-1.053.24-.127.102-.232.391-.316.868l-.027.153h2.703zm4.218-4.11-.537 3.061h.665l-.076.433h-.665l-.184 1.048h-.502l.184-1.048h-2.49l.105-.602 2.724-2.893h.776zm-1.039 3.061.48-2.732h-.01l-2.547 2.732h2.077zM13.586 9.607a16.448 16.448 0 0 1 3.119-1.414l-.2-1.131a22.046 22.046 0 0 0-4.011 1.714l1.092.831zm12.371-.617 3.853-2.112c-1.596-.504-3.625-.864-6.174-.878h-.025l-.881 1.772c1.133.23 2.223.642 3.227 1.218zm-14.445.363c-1.693 1.058-2.58 1.957-2.58 1.957h2.144a23.47 23.47 0 0 1 1.54-1.104l-1.104-.853zm10.855-3.327c-1.85.087-3.524.38-5.012.785l.148 1.148c1.616-.423 3.071-.478 4.34-.329l.524-1.604zm9.495 1.675L26.868 9.58c.462.337.705.579.705.579H35S34.16 8.85 31.862 7.7z"/></svg>

              <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 38 24" width="38" height="24" aria-labelledby="pi-blik"><title id="pi-blik">BLIK</title><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"/><path d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32z" fill="url(#pi-blik-paint0_linear)"/><path d="M30.343 17.155l-2.785-3.639 2.563-3.236h-2.185l-2.456 3.138V6.78h-1.848v10.375h1.848v-3.532l2.456 3.532h2.407zM18.613 6.78h-1.848v10.366h1.848V6.78zm3.433 3.508h-1.848v6.867h1.848v-6.867z" fill="#fff"/><path d="M13.849 9.573a1.651 1.651 0 100-3.302 1.651 1.651 0 000 3.302z" fill="url(#pi-blik-paint1_radial)"/><path d="M12.041 10.206c-.574 0-1.138.144-1.642.419V6.82H8.534v6.9a3.516 3.516 0 103.507-3.515zm0 5.175a1.643 1.643 0 110-3.286 1.643 1.643 0 010 3.286z" fill="#fff"/><defs><radialGradient id="pi-blik-paint1_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(12.51 6.18) scale(5.41297)"><stop stop-color="red"/><stop offset=".49" stop-color="#E83E49"/><stop offset="1" stop-color="#F0F"/></radialGradient><linearGradient id="pi-blik-paint0_linear" x1="19" y1="4.977" x2="19" y2="55.605" gradientUnits="userSpaceOnUse"><stop/><stop offset=".732" stop-color="#fff"/><stop offset="1" stop-color="#fff"/></linearGradient></defs></svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="18" viewBox="0 0 28 18"><title id="pi-visa">VISA</title><path fill="#F1F5F7" d="M-464-532.975H643V1253H-464z"/><path fill="#fff" d="M28 16.006c0 1.1-.893 1.994-1.994 1.994H1.994C.894 18 0 17.107 0 16.006V1.994C0 .894.893 0 1.994 0h24.01C27.108 0 28 .893 28 1.994v14.012z"/><path opacity=".25" fill="#fff" d="M26.006 0H1.994C.894 0 0 .893 0 1.994v14.01C0 17.108.893 18 1.994 18h24.01C27.108 18 28 17.107 28 16.006V1.994C28 .894 27.107 0 26.006 0zM27 15.116c0 1.04-.843 1.884-1.884 1.884H2.884C1.844 17 1 16.157 1 15.116V2.884C1 1.844 1.843 1 2.884 1h22.233C26.157 1 27 1.843 27 2.884v12.232z"/><path d="M23 11.953l-.363.013-.786.002c-.074 0-.073-.027-.087-.097l-.124-.69c-.017-.088-.047-.113-.135-.113-.58.004-1.16.005-1.74 0-.1-.002-.136.036-.165.123-.077.23-.16.458-.248.684l-.1.09c-.5.004-1.002.002-1.504 0l-.033-.013.14-.347 2.14-5.107c.154-.366.358-.488.754-.488h1.122c.09 0 .128.007.148.103.335 1.62.674 3.24 1.012 4.86l.065.9-.097.06v.023zm-2.085-4.23l-.027.037c-.265.73-.53 1.24-.797 2.24h1.283c-.154-1-.306-1.547-.458-2.277zM4 6h.236l2.493.004c.387 0 .676.203.75.585.21 1.09.42 2.182.626 3.273l.04.172.057-.108c.505-1.277 1.01-2.642 1.512-3.92.032-.08.07 0 .156 0h1.5l-.045.115-2.29 5.474c-.052.124-.082.29-.178.353-.09.06-.254.017-.385.018l-1.1.003c-.1.003-.136-.03-.16-.123-.395-1.546-.8-3.09-1.19-4.636-.073-.285-.28-.48-.552-.6-.454-.197-.87-.343-1.47-.443V6zm9.375 5.746l.28-1.308.17.078c.493.23 1.012.34 1.555.286.177-.018.362-.073.52-.157.332-.18.366-.548.073-.786-.168-.137-.37-.233-.555-.348-.277-.17-.574-.318-.827-.518-.902-.713-.61-1.8-.098-2.33.405-.42.654-.655 1.223-.655.9 0 1.802-.047 2.274.112l.072.032-.27 1.255c-.354-.155-.712-.266-1.09-.272-.216-.003-.437.018-.65.062-.112.023-.225.102-.313.182-.17.153-.173.372-.01.528.11.106.24.195.374.274l.842.476c.396.247.722.565.8 1.05.115.7-.097 1.292-.646 1.75-.395.327-.585.44-1.085.51-1.013-.002-1.802 0-2.484-.163l-.155-.06zM13.587 6c-.172 1-.34 1.588-.507 2.373-.245 1.147-.492 2.295-.732 3.443-.025.12-.068.174-.192.17-.414-.008-.83.014-1.243.014h-.143c.062 0 .12-.588.18-.867.355-1.66.71-3.33 1.063-4.99.023-.11.06-.142.176-.14.413.01.828-.003 1.242-.003h.155z" fill="#142688"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 60"><title id="pi-mastercard">Mastercard</title><g fill="none" fill-rule="evenodd"><path fill="#FFF" d="M0 0h100v60H0z"/><g fill-rule="nonzero"><path fill="#FF5F00" d="M43.049 16.764h14.808v27.142H43.049z"/><path fill="#EB001B" d="M43.99 30.337c-.006-5.297 2.377-10.303 6.463-13.573-6.939-5.562-16.903-4.752-22.89 1.86-5.987 6.613-5.987 16.808 0 23.42 5.987 6.613 15.951 7.423 22.89 1.861-4.084-3.27-6.468-8.272-6.464-13.568z"/><path fill="#F79E1B" d="M77.835 30.337c0 6.608-3.7 12.637-9.527 15.525-5.828 2.887-12.761 2.128-17.855-1.957 4.082-3.272 6.466-8.275 6.466-13.57 0-5.296-2.384-10.299-6.466-13.571 5.094-4.085 12.027-4.844 17.855-1.956 5.828 2.887 9.527 8.916 9.527 15.524v.005zm-1.617 10.935v-.758h.221v-.156h-.56v.156h.24v.758h.1zm1.086 0v-.914h-.169l-.197.653-.198-.653h-.15v.914h.122v-.686l.183.595h.127l.184-.595v.693l.098-.007z"/></g></g></svg>
   {%- for type in shop.enabled_payment_types -%}
                {{- type | payment_type_svg_tag -}}
              {%- endfor -%}
            </div>
          {%- endif -%}

          <p class="footer__copyright text-sm text-subdued">© {{ 'now' | date: '%Y' }}, {{ shop.name }}. {{ powered_by_link }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "class": "shopify-section--footer",
  "tag": "footer",
  "max_blocks": 5,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_social_media",
      "label": "Show social media",
      "info": "To configure social media, go to your social media settings.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": true
    },
    {
      "type": "header",
      "content": "Country/region selector",
      "info": "To add a country/region, go to your [markets settings.](/admin/settings/markets)"
    },
    {
      "type": "checkbox",
      "id": "show_country_selector",
      "label": "Show country/region selector",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_country_flag",
      "label": "Show country flag",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_country_name",
      "label": "Show country name",
      "default": true
    },
    {
      "type": "header",
      "content": "Language selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "About our store"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Use this text area to tell your customers about your brand and vision. You can change it in the theme editor.</p>"
        },
        {
          "type": "checkbox",
          "id": "enable_follow_on_shop",
          "label": "Show Follow on Shop",
          "info": "To allow customers to follow your store on the Shop app from your storefront, Shop Pay must be enabled. [Learn more](https://help.shopify.com/manual/online-store/themes/customizing-themes/follow-on-shop)",
          "default": true
        }
      ]
    },
    {
      "type": "links",
      "name": "Links",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "info": "This menu won't show dropdown items.",
          "default": "footer"
        },
        {
          "type": "checkbox",
          "id": "show_menu_title",
          "label": "Show menu title",
          "default": true
        },
        {
          "type": "inline_richtext",
          "id": "menu_title",
          "label": "Menu title",
          "info": "Replaces the default menu title"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)."
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "600 x 600px .png recommended"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 300,
          "step": 10,
          "unit": "px",
          "label": "Image width",
          "default": 150
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "Title size",
          "options": [
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "default": "h3"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Sign up to our newsletter"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ]
}
{% endschema %}