{%- assign newsletter_block = section.blocks | where: 'type', 'newsletter' | first -%}

{%- if section.blocks.size > 3 -%}
<style>
  @media screen and (min-width: 1000px) {
    #shopify-section-{{ section.id }} {
      {%- if newsletter_block != blank -%}
        --footer-block-list-gap: var(--spacing-10);
      {%- endif -%}

      --footer-block-list-justify-content: space-between;
    }
  }
</style>
{%- endif -%}

<div class="footer">
  <div class="container">
    <div class="footer__wrapper">
      {%- comment -%}
      ------------------------------------------------------------------------------------------------------------------
      BLOCK AREA
      ------------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}

      {%- if section.blocks.size > 0 -%}
        <div class="footer__block-list empty:hidden">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'text' -%}
                {%- if block.settings.title != blank or block.settings.content != blank or shop.features.follow_on_shop? and block.settings.enable_follow_on_shop -%}
                  <div class="footer__block footer__block--text" {{ block.shopify_attributes }}>
                    {%- if block.settings.title != blank -%}
                      <p class="bold">{{ block.settings.title | escape }}</p>
                    {%- endif -%}

                    {%- if block.settings.content != blank -%}
                      <div class="prose text-subdued">
                        {{- block.settings.content -}}
                      </div>
                    {%- endif -%}

                    {%- if shop.features.follow_on_shop? and block.settings.enable_follow_on_shop -%}
                      <div class="follow-on-shop">
                        {{- shop | login_button: action: 'follow' -}}
                      </div>
                    {%- endif -%}
                  </div>
                {%- endif -%}

              {%- when 'links' -%}
                {%- if block.settings.menu != blank -%}
                  <div class="footer__block footer__block--menu" {{ block.shopify_attributes }}>
                    {%- if block.settings.show_menu_title -%}
                      <p class="bold">{{ block.settings.menu_title | default: block.settings.menu.title }}</p>
                    {%- endif -%}

                    <ul class="v-stack gap-3" role="list">
                      {%- for link in block.settings.menu.links -%}
                        <li>
                          <a href="{{ link.url }}" class="inline-block link-faded break-all">{{ link.title }}</a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                {%- endif -%}

              {%- when 'newsletter' -%}
                <div class="footer__block footer__block--newsletter" {{ block.shopify_attributes }}>
                  {%- if block.settings.image != blank -%}
                    {%- capture sizes -%}{{ block.settings.image_width }}px{%- endcapture -%}
                    {%- capture widths -%}{{ block.settings.image_width }}, {{ block.settings.image_width | times: 2 | at_most: block.settings.image.width }}{%- endcapture -%}
                    {%- capture style -%}max-width: {{ block.settings.image_width }}px{%- endcapture -%}
                    {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy', style: style, sizes: sizes, widths: widths -}}
                  {%- endif -%}

                  <div class="v-stack gap-6">
                    {%- if block.settings.title != blank -%}
                      <p class="{{ block.settings.heading_size }}">{{- block.settings.title | escape -}}</p>
                    {%- endif -%}

                    {%- if block.settings.content != blank -%}
                      <div class="prose text-subdued">
                        {{- block.settings.content -}}
                      </div>
                    {%- endif -%}

                    {%- form 'customer', id: 'footer-newsletter', class: 'footer__newsletter-form form' -%}
                      {%- if form.posted_successfully? -%}
                        {%- capture success_message -%}{{ 'general.newsletter.subscribed_successfully' | t }}{%- endcapture -%}
                        {%- render 'banner', content: success_message, status: 'success' -%}
                      {%- else -%}
                        {%- if form.errors -%}
                          {%- capture error_message -%}{{ form.errors.translated_fields['email'] }} {{ form.errors.messages['email'] }}{%- endcapture -%}
                          {%- render 'banner', content: error_message, status: 'error' -%}
                        {%- endif -%}

                        <input type="hidden" name="contact[tags]" value="newsletter">

                        {%- capture label -%}{{ 'general.newsletter.email' | t }}{%- endcapture -%}
                        {%- render 'input', name: 'contact[email]', label: label, type: 'email', required: true, autocomplete: 'email', enterkeyhint: 'send', self_submit: true -%}
                      {%- endif -%}
                    {%- endform -%}
                  </div>
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      {%- endif -%}

      {%- comment -%}
      ------------------------------------------------------------------------------------------------------------------
      SECONDARY AREA
      ------------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}

      <div class="footer__aside empty:hidden">
        {%- comment -%}
        ----------------------------------------------------------------------------------------------------------------
        SOCIAL MEDIA + LOCALIZATION
        ----------------------------------------------------------------------------------------------------------------
        {%- endcomment -%}

        {%- if section.settings.show_social_media -%}
          {%- capture social_media -%}{%- render 'social-media' -%}{%- endcapture -%}
        {%- endif -%}

        {%- if section.settings.show_country_selector and localization.available_countries.size > 1 -%}
          {%- assign country_selector = true -%}
        {%- endif -%}

        {%- if section.settings.show_locale_selector and localization.available_languages.size > 1 -%}
          {%- assign locale_selector = true -%}
        {%- endif -%}

        {%- if social_media != blank or country_selector or locale_selector -%}
          <div class="footer__aside-top">
            {{- social_media -}}

            {%- if country_selector or locale_selector -%}
              <div class="h-stack gap-6">
                {%- if social_media == blank -%}
                  {%- assign popover_horizontal_position = 'start' -%}
                {%- else -%}
                  {%- assign popover_horizontal_position = 'end' -%}
                {%- endif -%}

                {%- if country_selector -%}
                  {%- render 'localization-selector', type: 'country', show_country_name: section.settings.show_country_name, show_country_flag: section.settings.show_country_flag, popover_horizontal_position: popover_horizontal_position -%}
                {%- endif -%}

                {%- if locale_selector -%}
                  {%- render 'localization-selector', type: 'locale', popover_horizontal_position: popover_horizontal_position -%}
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}

        {%- comment -%}
        ----------------------------------------------------------------------------------------------------------------
        COPYRIGHT + PAYMENT METHODS
        ----------------------------------------------------------------------------------------------------------------
        {%- endcomment -%}

        <div class="footer__aside-bottom">
<div class="footer__payment-icons h-stack wrap gap-2">
  
<svg id="przelewy-24-pay" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 71 24" width="71" height="24" aria-labelledby="pi-przelewy24">
<title id="pi-przelewy24">Przelewy24</title>
  <path fill="#b3b2b1" d="M54.9615737,14.5723227l1.6150831.0037558.0974287-.6271881s.1723746-1.134196.5583478-1.3520212c.1236626-.0713564.3222664-.1352023.5508505-.1765143.4234461-.0751123.9593066-.082624,1.3977428-.0676006.6707667.0225339.92558.0300445,1.6075904.1089126.6820058.0788681.5096312.7398565.5096312.7398565l-.1349017.9877261s-.0599558.443162-.2173449.7173226c-.1386481.2441149-.5208749.4093617-.7419662.4807182-.532114.1727585-2.353303.6384544-2.353303.6384544l-1.4314648.4131176s-.8806143.2553813-1.371509.7999454c-.4946411.5483199-.6895032,1.1679963-.7569517,1.4909794-.0674531.3229819-.445929,2.5575725-.445929,2.5575725l7.72692.0037547.2585643-1.5473136-6.1118369.0075117.1086725-.6309428s.0711995-.6497208.3335102-.8637913c.0824387-.0676006.1236626-.1577363.6108109-.3304936.2922908-.1051567,1.2890703-.3718056,1.2890703-.3718056l2.3045863-.6309428s1.2590901-.3229831,1.7537358-1.0140159c.4946411-.687277.6857568-2.0054979.6857568-2.0054979,0,0,.1349017-1.2806647.0299802-1.6825148-.1011751-.4018512-.4796556-.8825694-.9405701-1.0891282-.4609191-.2065588-.9405701-.3267389-2.3308155-.3079608s-2.0797486.082624-2.7842419.345517c-.7044933.2591372-1.1129447.7323448-1.371509,1.4008437-.2810563.6346998-.4459381,2.0017432-.4459381,2.0017432h0ZM69.5085703,17.4491235l1.0829691-6.5047246h-1.9186131l-5.9731888,6.4296123-.2698034,1.6299376h5.2237299l-.3822222,2.2834131,1.603844.0037547.3784759-2.2871701,1.4801814.0037547.266057-1.55858-1.4914297.0000023ZM67.9122236,17.4528782l-3.3763117-.0037558,4.1107806-4.390313-.7344689,4.3940689ZM11.8489459,11.8006785h4.9201988s1.1017044-.8938358,1.8848888-1.4684455c.7831855-.5746085,2.2071575-1.4797118,2.2071575-1.4797118l-2.7804932-1.3031981s-2.3495543,1.4571785-3.3463338,2.1444555c-.9668027.6346998-2.8854181,2.1068999-2.8854181,2.1068999h0ZM22.4238112,7.9323963l-2.2821034-1.5398019s2.0647585-1.1755074,4.8115274-2.2721467c2.7430202-1.0966393,4.2082116-1.5548244,4.2082116-1.5548244l.4646655,2.1820119s-2.6418428.8863252-4.1557508,1.6036472c-1.5663688.6684995-3.0465502,1.5811139-3.0465502,1.5811139h0ZM31.3123949,4.2706722l-.3972123-2.2345906s2.8179661-.7511229,5.3961045-1.2318415c2.5818847-.4807186,6.0031667-.7098111,6.0031667-.7098111l-1.1316812,3.4514098s-3.0090796-.4131176-5.8345385-.0262892c-2.1996648.2628927-4.0358392.7511226-4.0358392.7511226h0ZM42.9739767,3.8387766L44.8776043.0042943s4.1707409-.0826235,7.7681439.4769631c3.597403.5558309,6.8875297,1.4121108,6.8163301,1.449667l-9.1209164,4.7808973s-2.1322117-1.3520212-4.7778009-2.1820116c-1.4989225-.4431629-2.5893844-.6910334-2.5893844-.6910334h0ZM51.974977,7.7521267l2.0048027,1.5247797h16.4768534s-.0337266-.5332971-.4721582-1.2919311c-.2735543-.4732076-.7719418-.9764597-1.2928167-1.4984899-.1911111-.1877807-.9480674-.7811679-1.5176544-1.1529735-1.4539522-.9464147-2.2671134-1.3107095-3.777275-1.9979867l-11.4217518,4.4166016h0Z"/>
  <path fill="#d13239" d="M14.8730133,13.8324662l5.8607688-.0075105-.2135963,1.3369978-4.9014611,4.6907633,4.1145292-.0075117-.2398255,1.4421568-6.0593761.0037547.2548156-1.4909794,4.6991074-4.510492h-3.7510423l.2360803-1.4571791ZM8.4613917,11.5452972c-.1274078-.1352023-.3110256-.2403591-.5133793-.3229831-.2135957-.082624-.4496754-.1427129-.6820075-.1840249-.2922891-.0525784-.5770832-.0751123-.7794374-.082624-.1873647-.0075117-.3072781-.0075117-.3072781-.0075117H1.7087665l-1.7087665,10.342963h1.5963476l.6295455-3.8307267,3.0952654.0150222s1.2066288.0488225,2.0610121-.4056059c.8543833-.4544296,1.082968-1.4872235,1.082968-1.4872235,0,0,.0936824-.3830731.1723758-.8487691.0861879-.5145196.1723758-1.1304402.2173432-1.4571779.0187365-.1427129.0299785-.2328486.0299785-.2328486,0,0,.022484-.1051567.022484-.2704047.0037475-.2290927-.0299785-.5746085-.2098487-.9051033-.0637039-.1164231-.1386498-.2215799-.2360797-.3229819ZM7.2322788,13.370526c0,.0187781-.1423973.8487691-.3297621,1.8327394-.0711984.3755614-.3597405.5783644-.689502.6497208-.5471053.1164243-1.1354304.0938904-1.1354304.0938904l-2.5856334-.0075117.5695887-3.4363872,2.3420592.0075117s.1573863-.0037558.378477,0c.2510686.0037558.5845782.0150222.8581303.0525784.2360797.0300445.4234444.0788681.4834008.1539804.0786934.0976462.1086713.2253369.1199133.3380053.0149895.165248-.0112414.304205-.0112414.3154725ZM28.6817935,10.9481548h1.5363909l-1.7200069,10.3429618-1.5401395-.0037547,1.7237556-10.3392071ZM36.8808763,13.8324662l1.4726841-.0037558.5208749,5.2503485,2.2671134-5.257859,1.817438.0037558.535865,5.2728813,2.263367-5.2691266h1.5288935l-3.2451564,7.4548946h-1.8136916l-.5246213-5.220304-2.2895962,5.220304-1.7837114.0075117-.749459-7.4586504ZM25.8450931,13.8925562c-.4309389-.1389582-1.1766515-.1690026-1.8099429-.161491-.6108086.0075117-.8918557.0375561-1.1204421.0863787,0,0-1.0867155.1577363-1.7050191.9238814s-.801922,2.4411494-.801922,2.4411494c0,0-.3672344,1.8515186-.2585643,2.471195.1086725.6159217.2997836,1.1905302.9967795,1.4571779.6969959.2704047,1.2890703.2553813,1.2890703.2553813,0,0,1.2441023.0976451,2.180926-.1239348.9368237-.2215822,1.4314671-.8825694,1.4314671-.8825694,0,0,.2210913-.2854258.3784759-.6234311.1573868-.3380053.2061012-.5746085.2135963-.604653l.0974287-.4018512-1.5926003.0037547s-.0861873,1.0553267-.9480651,1.1529741c-.8581314.0976451-1.3190482.0600889-1.4876765.0525795-.1648819-.0075117-1.0867155.0338014-1.0117696-.7398565,0-.0112664,0-.0262898.0037464-.0488225.0412193-.8788135.1386504-1.1079062.1386504-1.1079062l5.0026386-.0150222.2135963-1.2393528c.2473228-1.4046019.0711995-2.474952-1.2103735-2.8955812ZM25.511583,16.6116208l-3.4287747-.0037558.1349017-.5445641s.1199139-.4281398.355993-.60841c.2398278-.180269.5433577-.2140705.8281512-.2403591.2847935-.0262898,1.0454962-.082624,1.6637998.0450678.2061012.041312.400961.1577363.4534218.3304936.1199162.405607-.0074928,1.0215276-.0074928,1.0215276ZM21.7080788,19.1654398c0,.0112664-.0037464.0225328-.0037464.0338014-.0037487.0600889.0037464-.0375584.0037464-.0338014ZM31.1437666,19.1691945c0,.0112664-.0037464.0225328-.0037464.0338014,0,.0600889.0037464-.0375561.0037464-.0338014ZM35.2845274,13.8963121c-.4309389-.1389582-1.1766515-.1690026-1.8099429-.161491-.6108086.0075117-.8918557.0375561-1.1204421.0863787,0,0-1.0867155.1577363-1.7050191.9238814s-.801922,2.4411494-.801922,2.4411494c0,0-.3672344,1.8515174-.2585643,2.4711938.1086725.6159217.2997836,1.1905302.9967795,1.4571779.6969959.2704047,1.2890703.2553813,1.2890703.2553813,0,0,1.2441023.0976451,2.180926-.1239348.9368237-.2215822,1.4314671-.8825694,1.4314671-.8825694,0,0,.2210913-.2854258.3784759-.6234311.1573868-.3380053.2061012-.5746085.2135963-.604653l.0974287-.4018512-1.5926003.0037547s-.0861873,1.0553267-.9480651,1.1529741c-.8581314.0976451-1.3190482.0600889-1.4876765.0563342-.1648819-.0075117-1.0867155.0300445-1.0117696-.7398565,0-.0112664,0-.0262898.0037464-.0488225.0412193-.8788135.1386504-1.1079062.1386504-1.1079062l5.0026386-.0150222.2135963-1.2393528c.2473251-1.4083565.0712018-2.4824614-1.2103735-2.8993348ZM34.9360294,16.6116208l-3.4287747-.0037558.1349017-.5445641s.1199139-.4281398.355993-.60841c.2360791-.180269.5433577-.2140705.8281512-.2403591.2847935-.0262898,1.0454962-.082624,1.6637998.0450678.2061012.041312.400961.1577363.4534218.3304936.1199162.4018512-.0074928,1.0215276-.0074928,1.0215276ZM49.055838,13.8324662l.9855404,5.4531514,2.7842419-5.4569073,1.5663711.0150222-4.0133518,7.7928987s-.7269761,1.4121101-1.1766515,1.7688935-.7269761.5182743-1.0942083.5558305c-.3672367.0375561-.5171285.0638459-.8693706,0l-.3747295-.0676006.2323304-1.393332s.62205.1164231.9892867-.0300445c.3709831-.1464699.6670203-.7774126.6670203-.7774126l.1873647-.3154725-1.4502013-7.548785,1.5663573.0037581h0ZM12.9169249,13.8249556c-.6183036,0-1.2028819.2441149-1.7012716.5182743l.0861873-.5182743h-1.6375683l-1.3115532,7.4248501h1.6413147l.726975-4.1123978c.1498918-.8337469.771943-1.8665408,1.9860662-1.8665408l.8468889-.0037558.2548156-1.4421557h-.8918546Z"/>
</svg>

<svg id="blik-pay" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 43 20" width="43" height="20" aria-labelledby="pi-blik">
  <title id="pi-blik">BLIK</title>
  <defs>
    <style>
      .blik0 {
        fill: url(#blik-gradient_4);
      }
      .blik1 {
        fill: url(#blik-gradient_2);
      }
    </style>
    <linearGradient id="blik-gradient_4" data-name="Blik gradient 4" x1="-273.0058916" y1="424.0094003" x2="-273.0058916" y2="424.3257537" gradientTransform="translate(36599.6488386 26531.0500191) scale(133.9830017 -62.5250053)" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#5a5a5a"/>
      <stop offset=".146" stop-color="#484848"/>
      <stop offset=".52" stop-color="#212121"/>
      <stop offset=".817" stop-color="#080808"/>
      <stop offset="1" stop-color="#000"/>
    </linearGradient>
    <linearGradient id="blik-gradient_2" data-name="blik gradient 2" x1="-302.9749496" y1="413.0624049" x2="-302.7485441" y2="412.8356791" gradientTransform="translate(5895.7912791 -4250.7735971) rotate(-89.628) scale(14.1759993 -14.1759993)" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#e52f08"/>
      <stop offset="1" stop-color="#e94f96"/>
    </linearGradient>
  </defs>
  <path class="blik0" d="M40.7258462.0000004H2.2744746C1.0190262-.0007061.0007089,1.0130887,0,2.2643739v15.4715707c.0007076,1.2511083,1.0188805,2.2647603,2.2741526,2.264055h38.4516936c1.2552733.0007077,2.2734437-1.0129443,2.2741538-2.2640526V2.2643751C42.9992899,1.0132143,41.9811684-.000528,40.7258462.0000004Z"/>
  <ellipse class="blik1" cx="14.0742921" cy="4.4964889" rx="2.274796" ry="2.2672527"/>
  <path fill="#fff" d="M18.1370663,3.0143121h2.542778v14.3801664h-2.542778V3.0143121ZM22.9363478,7.9177936h2.542778v9.4186307h-2.542778V7.9177936ZM11.5261001,7.8818113c-.7960993-.0011202-1.5799999.1949733-2.2812154.5706506V3.0146377h-2.5430976v9.6735708c-.0007076,2.6552071,2.1583472,4.8082495,4.8223884,4.8089547,2.6640412.0007077,4.8242469-2.15119,4.8249545-4.8063972.0007101-2.6552047-2.1583472-4.808247-4.8223884-4.8089547h-.0006415ZM11.5261001,15.002163c-1.2820359,0-2.3213325-1.0358502-2.3213325-2.3136348.0000024-1.2777846,1.0392965-2.3136348,2.3213325-2.3136348,1.281911.0000024,2.3211562,1.0356549,2.3213325,2.3133151.0005313,1.2774308-1.0380453,2.3134249-2.3197262,2.3139545h-.0016062ZM33.8440074,17.3370759h3.2754734l-3.9353182-5.0658124,3.5684912-4.3528189h-2.9709081l-3.504305,4.3800077V2.9581905h-2.5434208v14.3788854h2.5434208l-.0019246-5.0264678,3.5684912,5.0264678Z"/>
</svg>

<svg id="pay-po-pay" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 73 20" width="73" height="20" aria-labelledby="pi-paypo">
  <title id="pi-paypo">PayPo</title>
  <rect fill="#a70584" x="5.7262586" y="11.3612412" width="4.281528" height="4.2489586"/>
  <path fill="#36b588" d="M5.7087042,5.5958067h4.281528v4.2842323h-4.281528v-4.2842323Z"/>
  <path fill="#fad05b" d="M0,11.3081165h4.2815282v4.2842323H0v-4.2842323Z"/>
  <path d="M22.7726486,5.3302278c0,2.9538351-2.3748905,5.3302278-5.4378246,5.3302278h-2.3305787v4.8860956h-3.5512425V0h5.8818212c3.0629341,0,5.4378246,2.3763927,5.4378246,5.3302278M19.2214071,5.3302278c0-1.1326801-.7990038-1.9988802-1.8865831-1.9988802h-2.3305787v3.9976886h2.3305787c1.0875793,0,1.8865831-.8662001,1.8865831-1.9988083M35.1575185,4.1388326v11.3994137h-3.4176593v-1.0715576c-.7519068.8664142-1.8683885,1.3908044-3.3948958,1.3908044-2.984794,0-5.4455315-2.6218784-5.4455315-6.0189893,0-3.397039,2.4607375-6.0189174,5.4455315-6.0189174,1.5265073,0,2.642989.5243896,3.3948958,1.3907325v-1.0714863h3.4176593ZM31.7398592,9.8385038c0-1.709909-1.139243-2.7814661-2.711421-2.7814661-1.572104,0-2.7113492,1.0715571-2.7113492,2.7814661s1.1392452,2.7814661,2.7113492,2.7814661c1.572178,0,2.711421-1.0715571,2.711421-2.7814661M44.5210092,4.1386038l-2.1270619,6.9285323-2.5117566-6.9285323h-3.733567l4.503026,10.8004066c-.4979393,1.3811653-1.2445673,1.8792077-2.8285202,1.8792077v3.1699741c3.1678316.1584459,5.1817927-1.2679897,6.4489819-4.8681009l3.8693595-10.9814876h-3.6204618ZM60.7926756,5.3302278c0,2.9538351-2.3748927,5.3302278-5.4378246,5.3302278h-2.3305809v4.8860956h-3.5512415V0h5.8818223c3.0629319,0,5.4378246,2.3763927,5.4378246,5.3302278M57.2414341,5.3302278c0-1.1326801-.7990757-1.9988802-1.8865831-1.9988802h-2.3305809v3.9976886h2.3305809c1.0875074,0,1.8865831-.8662001,1.8865831-1.9988083M61.2364991,9.9942073c0-3.3092834,2.6190126-5.8633294,5.8818223-5.8633294,3.262666,0,5.8816786,2.554046,5.8816786,5.8633294,0,3.3092126-2.6190126,5.8632575-5.8816786,5.8632575-3.2628097,0-5.8818223-2.5540449-5.8818223-5.8632575M69.6707531,9.9942073c0-1.5768831-1.1097722-2.6207365-2.5524317-2.6207365-1.4427335,0-2.5525057,1.0438534-2.5525057,2.6207365s1.1097722,2.6206646,2.5525057,2.6206646c1.4426594,0,2.5524317-1.0437815,2.5524317-2.6206646"/>
</svg>

<svg id="santander-pay" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 144 23" width="144" height="23" aria-labelledby="pi-santander">
   <title id="pi-paypo">Santander</title>
  <path fill="#eb1c24" d="M77.8310159,6.1935345c-.0205086-.4876995-.1559028-.9706528-.405102-1.4073217l-2.1974949-3.8542977c-.1670669-.2939413-.2837729-.6086756-.3472164-.931915l-.0915254.1606748c-.544185.9536506-.544185,2.1294106,0,3.0830632l1.7587043,3.0830506c.5442343.9536722.5442343,2.1294177,0,3.0830894l-.0914757.1606584c-.0643783-.3232246-.1801494-.6379833-.3472656-.9318958l-1.6093426-2.8231881-1.0277796-1.8023662c-.1670669-.2939412-.2837729-.6086754-.3472652-.9319149l-.0914762.1606728c-.542346.9508193-.5442099,2.1208977-.0056067,3.0735912l1.7643106,3.0934644c.5442343.9536717.5442343,2.1294167,0,3.0830894l-.0924105.1606584c-.0643778-.3232255-.1801494-.6379842-.3472656-.9318958l-2.1974311-3.8543268c-.2949863-.516964-.4294068-1.0992092-.4051362-1.6757284-2.3561424.6257004-3.9804257,1.9469829-3.9804257,3.4771744,0,2.1284871,3.1421493,3.8543268,7.0189314,3.8543268,3.8768211,0,7.0189812-1.7258397,7.0189812-3.8543268,0-1.5301914-1.6242932-2.8524526-3.9767082-3.4743364ZM144,6.0734938c0,.4404272-.052133.9744699-.1318071,1.2551689-.3422977-.0396872-.6850832-.0538788-1.0937798-.0538788-.355573,0-.7121365.0264746-1.0682048.0803534v5.7133706h-1.4503433v-6.6746279c.6196825-.2135581,1.6613292-.3732863,2.4782196-.3732863.4480421,0,.9496805.0132126,1.2659155.0529002ZM134.2700788,8.9835934h3.2700302c0-1.094462-.5793539-1.7352842-1.5821504-1.7352842s-1.5693554.6011346-1.6878798,1.7352842ZM138.9235582,10.2122877h-4.6274167c.1849232,1.1880284.8700064,1.7617583,2.1619846,1.7617583.7908276,0,1.5954257-.1739199,2.320845-.5075676-.052133.3875275-.1318071.894116-.2242687,1.3345441-.6590205.3071731-1.3578742.4272142-2.1354266.4272142-2.4265819,0-3.5995404-1.3619484-3.5995404-3.6444873,0-1.9885789.9088641-3.5641343,3.2164263-3.5641343,2.069523,0,2.9670705,1.3752099,2.9670705,3.0566152,0,.4139526-.026558.7476003-.0796741,1.1351278M130.1954505,11.5203572v-4.1113896c-.3826263-.0803049-.7775486-.1332541-1.1601749-.1332541-1.4375521,0-2.1231344.9073295-2.1231344,2.4299847,0,1.3619484.5404961,2.3222266,1.8324781,2.3222266.5798417,0,1.0549258-.2003936,1.4508311-.5075676ZM131.6320232,3.7248167v9.3436912h-1.3308322l-.0796741-.8543798c-.3688558.6275602-.9364015,1.0141085-1.8855904,1.0141085-1.7400165,0-2.9001914-1.2815949-2.9001914-3.523468,0-2.2419221,1.2393574-3.6841749,3.6777399-3.6841749.3826263,0,.7386946.0396872,1.0809923.106779v-2.202186c.4480346-.1606777.962468-.20037,1.4365728-.20037M124.2750688,8.5828529v4.4847254h-1.4503396v-4.2314302c0-1.0547748-.3427893-1.5622939-1.7936241-1.5622939-.3422977,0-.7509905.0396872-1.1468958.106779v5.686945h-1.4508311v-6.6746279c.9231225-.2268201,1.9382149-.3733353,2.6370725-.3733353,2.4260866,0,3.2036351.9479953,3.2036351,2.5632379M115.4023665,11.5468318v-4.1916945c-.303395-.0529492-.6329052-.0803534-1.0417931-.0803534-1.5029153,0-2.2021181.9347337-2.2021181,2.4299847,0,1.3619484.5404961,2.322178,1.8324743,2.322178.5666114,0,1.028713-.187133,1.4105025-.4801148M116.8520682,6.39388v6.6746279h-1.3311736l-.0793289-.8005495c-.3687094.5869429-.9363039.9612079-1.8585896.9612079-1.7400165,0-2.9003865-1.2815949-2.9003865-3.523468s1.2396989-3.6841749,3.6779838-3.6841749c.9493841,0,1.7269814.106779,2.4914948.3733358M109.0732469,11.9740459c.4219681,0,.8177758-.0803534,1.1342059-.2003945-.0391992.4007405-.0924128.8544293-.171738,1.2409776-.3958078.1607078-.8177796.2136076-1.2256844.2136076-1.4105063,0-2.307611-.6540348-2.307611-2.2825389V3.9374748c.4480871-.146501,1.0016146-.2136024,1.450636-.2136024v2.5226113h2.2935928c-.0261153.4536402-.066245.8676423-.1316082,1.2551203h-2.1619846v3.2702223c0,.8676423.4219718,1.20129,1.1201915,1.20129M105.0517835,8.5828529v4.4847254h-1.4506848v-4.2314302c0-1.0547748-.3425941-1.5622939-1.7932301-1.5622939-.3425941,0-.7514821.0396872-1.1472898.106779v5.686945h-1.4506341v-6.6746279c.9232219-.2268201,1.9379204-.3733353,2.6371231-.3733353,2.4261353,0,3.2037815.9479953,3.2037815,2.5632379M96.1788842,11.5468318v-4.1916945c-.303395-.0529492-.6329071-.0803534-1.041795-.0803534-1.5029153,0-2.2021181.9347337-2.2021181,2.4299847,0,1.3619484.5404961,2.322178,1.8324743,2.322178.5666114,0,1.0287148-.187133,1.4105044-.4801148M97.6285859,6.39388v6.6746279h-1.3311267l-.0793777-.8005495c-.3696418.5869429-.9363039.9612079-1.8585896.9612079-1.7400165,0-2.9003377-1.2815949-2.9003377-3.523468s1.2396501-3.6841749,3.677935-3.6841749c.9493841,0,1.7269814.106779,2.4914967.3733358M84.4579284,12.7745964c.0261134-.5472552.105493-.9215212.2501813-1.3478057.7383513.3468607,1.6877372.5207807,2.4130552.5207807,1.2256825,0,1.9118032-.4007396,1.9118032-1.1880284,0-.7873374-.5012988-1.1351278-1.7400146-1.6814048l-.6721044-.293961c-1.2397007-.5472552-2.0835937-1.2551689-2.0835937-2.6700174,0-1.5217009,1.0417969-2.4961465,3.1776193-2.4961465.856975,0,1.6616219.1200359,2.413104.3875125-.0391973.5340035-.131657.9479612-.2632652,1.3345586-.712236-.2665563-1.556129-.387527-2.1619865-.387527-1.1472392,0-1.6746533.4536888-1.6746533,1.1616024s.5143321,1.0944624,1.4366178,1.4952025l.7122866.3071736c1.6746533.7211266,2.3729217,1.4819894,2.3729217,2.7768459,0,1.5348892-1.1472392,2.5896635-3.3886033,2.5896635-1.0809454,0-1.9640338-.1597278-2.7024338-.5075191M84.4086489,19.7694644c0-2.0254281,1.1108954-3.2304852,3.093617-3.2304852.476071,0,.9344353.0538788,1.3488821.2050913-.0177066.339277-.0793289.6332361-.1670683.8836938-.3612819-.1247397-.7402686-.1965788-1.1808795-.1965788-1.2069947,0-2.0714441.7589559-2.0714441,2.2938441,0,1.5349386.8812217,2.3827119,2.0536906,2.3827119.4229061,0,.9167287-.0982633,1.268617-.2769304-.0177047.3393255-.0699841.6332865-.1502473.9725616-.3612819.1247883-.7225639.1966274-1.2518466.1966274-1.894984,0-2.943321-1.3118871-2.943321-3.2305356ZM92.6490332,20.5718246c0-1.0887851-.4938245-1.5878374-1.2863218-1.5878374-.8989752,0-1.3134708.6067615-1.3134708,1.552897,0,1.0973013.4938226,1.5878393,1.3134708,1.5878393.8634663,0,1.2863218-.597366,1.2863218-1.5528989ZM89.0616405,20.6171891c0-1.5613647.8989264-2.4715312,2.3271843-2.4715312,1.4282598,0,2.2478573,1.0264404,2.2478573,2.3467933,0,1.5613628-.8905665,2.4715312-2.3355949,2.4715312-1.445079,0-2.2385125-1.0263919-2.2385125-2.3467933M98.2379854,19.8582351v2.9979896h-.9698936v-2.8288169c0-.7050752-.2286906-1.0444007-1.1985861-1.0444007-.2296737,0-.5022331.0264746-.7664327.0709094v3.8013785h-.9698936v-4.4620188c.6170709-.1521925,1.2957173-.249528,1.7624415-.249528,1.6214903,0,2.1414301.633238,2.1414301,1.7135572M98.9333028,22.660626c.0177047-.3658001.0616242-.6247721.1325425-.8298635.4051526.2050913.9698917.3119194,1.3927978.3119194.5553999,0,.8634663-.1521907.8634663-.5264566,0-.3298796-.2641958-.4640634-.6870531-.5973175l-.4499557-.1427467c-.8905647-.2854466-1.1892394-.7589559-1.1892394-1.4101522,0-.8213472.5731515-1.320351,1.683062-1.320351.5554486,0,1.0315196.0623447,1.445079.2136076-.0177516.2589702-.0532136.499982-.141.7853782-.4144449-.1341819-.8195994-.1871311-1.277915-.1871311-.6170709,0-.7757738.1966255-.7757738.4725777,0,.3298796.2203289.4914676.6870531.6427305l.4667768.152144c.837351.2674864,1.1985823.6606403,1.1985823,1.3647859,0,.8119032-.6347775,1.3742317-1.7979016,1.3742317-.6525292,0-1.1370088-.0888193-1.5514556-.3033565M106.7947004,18.252682v4.6047655h-.8989733l-.0532136-.5803373c-.2996615.4016702-.7225151.6871168-1.3218344.6871168-1.0660398,0-1.6307826-.5708429-1.6307826-1.7135572v-2.9979878h.9689593v2.7749362c0,.758954.2557383,1.0973013.9960088,1.0973013.3528714,0,.6963998-.1162254.9699423-.3572353v-3.5159319h.9698936v.0009297ZM114.5948191,19.8582351v2.9979896h-.9698936v-2.855243c0-.6691547-.2912491-1.0169945-1.1015506-1.0169945-.3173644,0-.6524804.0709076-.9521382.196577.0616223.1966255.0877376.4196789.0877376.6786491v2.9979896h-.9698936v-2.8647355c0-.6606403-.2996578-1.0084802-1.1370126-1.0084802-.2734937,0-.5638085.0264746-.8280043.0803534v3.7928623h-.9698973v-4.4620188c.6170222-.1521925,1.2956704-.2495262,1.8949859-.2495262s1.1015506.1067795,1.4366703.3477894c.5021825-.2230516,1.0315159-.3477894,1.5244042-.3477894,1.4889009,0,1.9827235.6332361,1.9827235,1.7135554M116.2164576,20.1257215h2.1864301c0-.7315498-.3875454-1.1596945-1.0578788-1.1596945-.6702358,0-1.0492225.4016702-1.1285514,1.1596945ZM119.3279764,20.9470202h-3.0938159c.1232483.793943.5816127,1.1776548,1.4452779,1.1776548.5282002,0,1.0657471-.1162254,1.5511611-.339277-.0354095.258972-.0875425.5982471-.1500015.8922081-.4406615.2050932-.9073857.2854466-1.4282091.2854466-1.6216873,0-2.4058247-.9102169-2.4058247-2.4365908,0-1.3298473.6086097-2.3827138,2.1505742-2.3827138,1.3834567,0,1.9829711.9186827,1.9829711,2.0433883,0,.2769304-.0177066.499982-.0531161.758954M122.6240731,18.1805984c0,.2948907-.0354132.6511963-.0875425.8383293-.2296756-.0264261-.4583644-.0358701-.7323008-.0358701-.2380355,0-.476071.0179584-.7141064.0538284v3.8193387h-.9698448v-4.4620188c.414595-.1427,1.1109948-.249528,1.6569017-.249528.300003,0,.6349239.0085162.845906.0359205M127.8151032,21.0903549c0-.6332361-.476071-.9281267-1.4542756-.9281267h-.8552565v1.8382951h.8193518c.9964028,0,1.4901804-.2410118,1.4901804-.9101684ZM125.505571,17.4761093v1.8288511h.793289c.8729556,0,1.2521412-.3213167,1.2521412-.9101684,0-.5264566-.2822964-.9546013-1.4188662-.9546013-.2203289,0-.414595.0085144-.6255772.0359186M128.8193743,21.0459201c0,1.1511802-.7141064,1.8118709-2.388711,1.8118709h-1.91264v-6.1302116c.4406577-.0803534,1.0396806-.1427485,1.5954219-.1427485,1.6652615,0,2.4408439.6427305,2.4408439,1.695597,0,.5264584-.264102,1.1247056-.8552528,1.392192.6963998.1786653,1.119351.7135895,1.119351,1.3742299M132.4336646,21.8392769v-2.8023405c-.2026185-.0359205-.4229549-.0538788-.6963998-.0538788-1.0042674,0-1.4719785.6247217-1.4719785,1.6237579,0,.9101665.3609874,1.5528485,1.2246038,1.5528485.3791818,0,.6870569-.1247397.9427915-.3213167M133.4035094,18.3951841v4.4620188h-.8906585l-.0531161-.5349728c-.2463991.3932043-.6255809.6427305-1.2423066.6427305-1.1631278,0-1.939198-.8562895-1.939198-2.3553077,0-1.49902.8282032-2.4630654,2.4590346-2.4630654.6349239,0,1.1547679.0709076,1.6652615.2495262M138.26847,19.8582351v2.9979896h-.9698448v-2.8288169c0-.7050752-.2286888-1.0444007-1.1985335-1.0444007-.2296718,0-.5021337.0264746-.7667235.0709094v3.8013785h-.9698448v-4.4620188c.6172135-.1521925,1.2959105-.249528,1.7626385-.249528,1.6214884,0,2.141325.633238,2.141325,1.7135572M143.2126169,22.8563218h-1.1724708l-1.7277206-2.4536214v-.0623447l1.6829644-2.0878213h1.145425l-1.7444479,2.1152255,1.8152668,2.4894914.0009831-.0009297ZM139.185694,16.6816773c.3255779-.1067795.6526267-.1426981.9698448-.1426981v6.3173427h-.9698448v-6.1746446ZM9.9419899,10.9780953l-4.4801345.0024324c.3280479-3.3909221,4.6478361-3.2203944,4.4801345-.0024324ZM15.2226877.1549474l-.0355003,22.6901052L.0061222,22.7573563l-.0061222-22.567085,15.2226877-.0353239ZM3.1532321,10.1656887c-1.2032679,4.5638219,1.4542146,8.0095488,6.4815211,7.3079787,2.0025981-.2789103,2.5044699-.3239854,2.2853675-2.6540066-2.9133184.6979107-5.9600495,1.5785112-6.5096661-2.03163l6.9221706-.0097512c.9707095-7.8609559-7.7643564-7.9815437-9.1793931-2.6125909ZM45.6190755,18.8049529c1.8275527.3142439,2.9059681.3203324,3.6367449-1.1120334.5055462-.9914527-2.9341234-6.337249-3.8215824-10.9814778l2.5840341-.0012178c.4382232,1.7125064,1.7394224,6.4809715,2.6060704,7.584478.6952774-1.0657489,1.7908317-5.9097303,2.2106908-7.5613367l2.4946786-.0243601c-.4369942,2.661327-2.0931763,7.0144551-3.0589783,9.387116-.5912334,1.4506351-1.2999739,3.1326928-2.1470399,3.9597131-.9755931.9500394-3.2034228,1.5334599-4.7971755.6601551l.2925573-1.9110403v.0000037ZM37.2010725,3.9392741l2.404094-.3739256.0293768,3.1339106,3.6367449.0182702-.3513108,2.0571997-3.2609548.0401942c-.1285271.8927933-.1273018,4.8293651.1162892,5.5772162.623057,1.918347,2.7272533.7234915,4.2157368.5347014-.0293768.6504118-.0146884,1.5005744-.3158114,1.9804662-.9009259.7843915-3.0357242.8465087-4.3577307.4165553-1.303646-.423863-1.8924289-1.4847407-2.0735943-3.0340343-.2790904-2.4031119-.2019727-7.8621821-.0428436-10.3505532l.0000037-.0000007ZM17.8691515,7.2193437c2.0209578-.6601555,4.2928526-.998759,6.4998713-.3227698l-.4284285,1.9463619c-1.310992.0365403-1.7969525-.3471294-3.5008737-.0462836-.3402945,1.2947323-.0489644,6.7050833-.1077198,8.5296448l-2.4628513-.0414115V7.2193451l.0000019-.0000014ZM34.6941413,7.5847408l-.0159005,9.9802822-2.0295316-.0304591-.1370905-1.0365121c-2.2253998,2.6467093-7.7888454,1.538344-7.2012839-4.8354564.4149707-4.4992874,5.067696-5.6149716,9.3838065-4.0778546ZM32.4687631,9.0183185c-3.0822315-.2362891-4.9893616.2484727-4.9342615,3.616233.0550785,3.3750791,2.2780121,3.9767693,4.9244833,2.7137192l.0097783-6.3299523Z"/>
</svg>


 


    
    

  
</div>
          
          {%- if section.settings.show_payment_icons and shop.enabled_payment_types.size > 0 -%}
            <div class="footer__payment-icons h-stack wrap gap-2">
                      <!-- <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 38 24" width="38" height="24" aria-labelledby="pi-przelewy24"><title id="pi-przelewy24">Przelewy24</title><path fill="#fff" d="M35 1c1.1 0 2.001.9 2.001 2v18a2.006 2.006 0 0 1-2 2H3a2.007 2.007 0 0 1-2-2V3c0-1.1.9-2 2.001-2h32z"/><path fill="#CF4545" d="m3 15.576.81-4.581h2.087c.514 0 .847.1.999.299.152.199.18.572.083 1.117-.093.524-.253.88-.482 1.071-.228.19-.61.285-1.147.285l-.201.004H3.833l-.319 1.805H3zm.91-2.242h1.22c.51 0 .845-.052 1.007-.157.163-.105.277-.347.344-.725.078-.443.08-.723.003-.84-.076-.118-.295-.177-.658-.177l-.197-.004H4.247l-.336 1.904zm3.528-.966h.467l-.112.369.009.01c.238-.302.57-.453.995-.453.588 0 .828.304.72.913l-.042.221h-.461l.024-.08a2.54 2.54 0 0 0 .04-.171c.058-.33-.09-.494-.447-.494-.52 0-.839.324-.953.97l-.34 1.923h-.467l.567-3.208zm2.488 0h2.3l-.08.456-2.321 2.363h1.903l-.069.39H9.2l.078-.447 2.33-2.373h-1.75l.069-.39zm4.6 2.239h.477l-.017.117c-.06.333-.201.566-.426.7-.225.133-.59.2-1.096.2-.588 0-.954-.109-1.1-.325-.145-.215-.157-.669-.035-1.36.114-.64.282-1.07.505-1.29.224-.218.605-.328 1.144-.328.588 0 .956.095 1.105.285.149.19.17.59.061 1.202l-.044.251h-2.298c-.09.506-.092.828-.009.967.084.139.324.208.72.208.376 0 .626-.033.75-.099s.206-.208.245-.428l.018-.1zm.161-.913.023-.152c.061-.346.044-.572-.05-.676-.096-.104-.331-.156-.708-.156-.378 0-.634.061-.768.183s-.238.389-.31.8h1.813zm1.973-2.699-.81 4.582h-.467l.81-4.582h.467zm2.218 3.612h.477l-.017.117c-.06.333-.201.566-.426.7-.225.133-.59.2-1.096.2-.588 0-.954-.109-1.1-.325-.145-.215-.157-.669-.035-1.36.113-.64.282-1.07.505-1.29.224-.218.605-.328 1.144-.328.588 0 .956.095 1.105.285.149.19.17.59.061 1.202l-.044.251h-2.298c-.09.506-.092.828-.009.967.084.139.324.208.72.208.376 0 .626-.033.75-.099s.206-.208.245-.428l.018-.1zm.16-.913.024-.152c.062-.346.045-.572-.05-.676-.096-.104-.331-.156-.708-.156-.378 0-.634.061-.768.183s-.238.389-.31.8h1.813zm5.352-1.326-1.462 3.208h-.695l-.112-1.782-.034-.543-.012-.272-.016-.272h-.01l-.111.272-.112.272-.226.543-.746 1.782h-.708l-.297-3.208h.49l.138 1.775.041.557.018.279.017.279h.014l.113-.279.116-.279.231-.553.752-1.78h.681l.12 1.783.035.554.015.275.014.278h.01l.12-.278.115-.279.24-.557.76-1.776h.502zm2.354 0-.613 1.43-.306.711-.147.36-.15.355h-.013l-.06-.356-.057-.359-.122-.712-.238-1.43h-.497l.64 3.487-.073.159c-.197.422-.42.627-.67.614a1.015 1.015 0 0 1-.159-.024l-.069.39c.09.015.162.023.22.023.288 0 .524-.09.71-.268.187-.18.386-.508.597-.987l1.505-3.393h-.498z"/><path fill="#AEB2BA" d="m30.236 15.169-.076.432h-3.205l.15-.855c.085-.48.23-.793.44-.942.208-.148.662-.263 1.36-.343.56-.062.905-.146 1.038-.253.133-.106.238-.382.317-.828.068-.39.049-.644-.058-.76-.107-.117-.374-.176-.802-.176-.535 0-.88.047-1.038.142-.156.094-.266.321-.33.68l-.052.34h-.493l.045-.236c.096-.544.271-.906.528-1.087.257-.18.723-.271 1.4-.271.6 0 .985.097 1.158.293.172.195.208.575.109 1.141-.095.544-.255.907-.48 1.09-.224.183-.664.307-1.318.371-.576.058-.927.138-1.053.24-.127.102-.232.391-.316.868l-.027.153h2.703zm4.218-4.11-.537 3.061h.665l-.076.433h-.665l-.184 1.048h-.502l.184-1.048h-2.49l.105-.602 2.724-2.893h.776zm-1.039 3.061.48-2.732h-.01l-2.547 2.732h2.077zM13.586 9.607a16.448 16.448 0 0 1 3.119-1.414l-.2-1.131a22.046 22.046 0 0 0-4.011 1.714l1.092.831zm12.371-.617 3.853-2.112c-1.596-.504-3.625-.864-6.174-.878h-.025l-.881 1.772c1.133.23 2.223.642 3.227 1.218zm-14.445.363c-1.693 1.058-2.58 1.957-2.58 1.957h2.144a23.47 23.47 0 0 1 1.54-1.104l-1.104-.853zm10.855-3.327c-1.85.087-3.524.38-5.012.785l.148 1.148c1.616-.423 3.071-.478 4.34-.329l.524-1.604zm9.495 1.675L26.868 9.58c.462.337.705.579.705.579H35S34.16 8.85 31.862 7.7z"/></svg>

              <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 38 24" width="38" height="24" aria-labelledby="pi-blik"><title id="pi-blik">BLIK</title><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"/><path d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32z" fill="url(#pi-blik-paint0_linear)"/><path d="M30.343 17.155l-2.785-3.639 2.563-3.236h-2.185l-2.456 3.138V6.78h-1.848v10.375h1.848v-3.532l2.456 3.532h2.407zM18.613 6.78h-1.848v10.366h1.848V6.78zm3.433 3.508h-1.848v6.867h1.848v-6.867z" fill="#fff"/><path d="M13.849 9.573a1.651 1.651 0 100-3.302 1.651 1.651 0 000 3.302z" fill="url(#pi-blik-paint1_radial)"/><path d="M12.041 10.206c-.574 0-1.138.144-1.642.419V6.82H8.534v6.9a3.516 3.516 0 103.507-3.515zm0 5.175a1.643 1.643 0 110-3.286 1.643 1.643 0 010 3.286z" fill="#fff"/><defs><radialGradient id="pi-blik-paint1_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(12.51 6.18) scale(5.41297)"><stop stop-color="red"/><stop offset=".49" stop-color="#E83E49"/><stop offset="1" stop-color="#F0F"/></radialGradient><linearGradient id="pi-blik-paint0_linear" x1="19" y1="4.977" x2="19" y2="55.605" gradientUnits="userSpaceOnUse"><stop/><stop offset=".732" stop-color="#fff"/><stop offset="1" stop-color="#fff"/></linearGradient></defs></svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="18" viewBox="0 0 28 18"><title id="pi-visa">VISA</title><path fill="#F1F5F7" d="M-464-532.975H643V1253H-464z"/><path fill="#fff" d="M28 16.006c0 1.1-.893 1.994-1.994 1.994H1.994C.894 18 0 17.107 0 16.006V1.994C0 .894.893 0 1.994 0h24.01C27.108 0 28 .893 28 1.994v14.012z"/><path opacity=".25" fill="#fff" d="M26.006 0H1.994C.894 0 0 .893 0 1.994v14.01C0 17.108.893 18 1.994 18h24.01C27.108 18 28 17.107 28 16.006V1.994C28 .894 27.107 0 26.006 0zM27 15.116c0 1.04-.843 1.884-1.884 1.884H2.884C1.844 17 1 16.157 1 15.116V2.884C1 1.844 1.843 1 2.884 1h22.233C26.157 1 27 1.843 27 2.884v12.232z"/><path d="M23 11.953l-.363.013-.786.002c-.074 0-.073-.027-.087-.097l-.124-.69c-.017-.088-.047-.113-.135-.113-.58.004-1.16.005-1.74 0-.1-.002-.136.036-.165.123-.077.23-.16.458-.248.684l-.1.09c-.5.004-1.002.002-1.504 0l-.033-.013.14-.347 2.14-5.107c.154-.366.358-.488.754-.488h1.122c.09 0 .128.007.148.103.335 1.62.674 3.24 1.012 4.86l.065.9-.097.06v.023zm-2.085-4.23l-.027.037c-.265.73-.53 1.24-.797 2.24h1.283c-.154-1-.306-1.547-.458-2.277zM4 6h.236l2.493.004c.387 0 .676.203.75.585.21 1.09.42 2.182.626 3.273l.04.172.057-.108c.505-1.277 1.01-2.642 1.512-3.92.032-.08.07 0 .156 0h1.5l-.045.115-2.29 5.474c-.052.124-.082.29-.178.353-.09.06-.254.017-.385.018l-1.1.003c-.1.003-.136-.03-.16-.123-.395-1.546-.8-3.09-1.19-4.636-.073-.285-.28-.48-.552-.6-.454-.197-.87-.343-1.47-.443V6zm9.375 5.746l.28-1.308.17.078c.493.23 1.012.34 1.555.286.177-.018.362-.073.52-.157.332-.18.366-.548.073-.786-.168-.137-.37-.233-.555-.348-.277-.17-.574-.318-.827-.518-.902-.713-.61-1.8-.098-2.33.405-.42.654-.655 1.223-.655.9 0 1.802-.047 2.274.112l.072.032-.27 1.255c-.354-.155-.712-.266-1.09-.272-.216-.003-.437.018-.65.062-.112.023-.225.102-.313.182-.17.153-.173.372-.01.528.11.106.24.195.374.274l.842.476c.396.247.722.565.8 1.05.115.7-.097 1.292-.646 1.75-.395.327-.585.44-1.085.51-1.013-.002-1.802 0-2.484-.163l-.155-.06zM13.587 6c-.172 1-.34 1.588-.507 2.373-.245 1.147-.492 2.295-.732 3.443-.025.12-.068.174-.192.17-.414-.008-.83.014-1.243.014h-.143c.062 0 .12-.588.18-.867.355-1.66.71-3.33 1.063-4.99.023-.11.06-.142.176-.14.413.01.828-.003 1.242-.003h.155z" fill="#142688"/></svg>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 60"><title id="pi-mastercard">Mastercard</title><g fill="none" fill-rule="evenodd"><path fill="#FFF" d="M0 0h100v60H0z"/><g fill-rule="nonzero"><path fill="#FF5F00" d="M43.049 16.764h14.808v27.142H43.049z"/><path fill="#EB001B" d="M43.99 30.337c-.006-5.297 2.377-10.303 6.463-13.573-6.939-5.562-16.903-4.752-22.89 1.86-5.987 6.613-5.987 16.808 0 23.42 5.987 6.613 15.951 7.423 22.89 1.861-4.084-3.27-6.468-8.272-6.464-13.568z"/><path fill="#F79E1B" d="M77.835 30.337c0 6.608-3.7 12.637-9.527 15.525-5.828 2.887-12.761 2.128-17.855-1.957 4.082-3.272 6.466-8.275 6.466-13.57 0-5.296-2.384-10.299-6.466-13.571 5.094-4.085 12.027-4.844 17.855-1.956 5.828 2.887 9.527 8.916 9.527 15.524v.005zm-1.617 10.935v-.758h.221v-.156h-.56v.156h.24v.758h.1zm1.086 0v-.914h-.169l-.197.653-.198-.653h-.15v.914h.122v-.686l.183.595h.127l.184-.595v.693l.098-.007z"/></g></g></svg> -->
   
              {%- for type in shop.enabled_payment_types -%}
                {{- type | payment_type_svg_tag -}}
              {%- endfor -%}
            </div>
          {%- endif -%}

          <p class="footer__copyright text-sm text-subdued">© {{ 'now' | date: '%Y' }}, {{ shop.name }}. {{ powered_by_link }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "class": "shopify-section--footer",
  "tag": "footer",
  "max_blocks": 5,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_social_media",
      "label": "Show social media",
      "info": "To configure social media, go to your social media settings.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": true
    },
    {
      "type": "header",
      "content": "Country/region selector",
      "info": "To add a country/region, go to your [markets settings.](/admin/settings/markets)"
    },
    {
      "type": "checkbox",
      "id": "show_country_selector",
      "label": "Show country/region selector",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_country_flag",
      "label": "Show country flag",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_country_name",
      "label": "Show country name",
      "default": true
    },
    {
      "type": "header",
      "content": "Language selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "About our store"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Use this text area to tell your customers about your brand and vision. You can change it in the theme editor.</p>"
        },
        {
          "type": "checkbox",
          "id": "enable_follow_on_shop",
          "label": "Show Follow on Shop",
          "info": "To allow customers to follow your store on the Shop app from your storefront, Shop Pay must be enabled. [Learn more](https://help.shopify.com/manual/online-store/themes/customizing-themes/follow-on-shop)",
          "default": true
        }
      ]
    },
    {
      "type": "links",
      "name": "Links",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "info": "This menu won't show dropdown items.",
          "default": "footer"
        },
        {
          "type": "checkbox",
          "id": "show_menu_title",
          "label": "Show menu title",
          "default": true
        },
        {
          "type": "inline_richtext",
          "id": "menu_title",
          "label": "Menu title",
          "info": "Replaces the default menu title"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)."
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "600 x 600px .png recommended"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 300,
          "step": 10,
          "unit": "px",
          "label": "Image width",
          "default": 150
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "Title size",
          "options": [
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "default": "h3"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Sign up to our newsletter"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ]
}
{% endschema %}